.form-control.v-select {
  height: fit-content !important;
}

.vs--single .vs__selected, .vs__search {
  position: relative;
  top: -4px;
}

.vs__dropdown-toggle {
  border: 0 !important;
  padding: 0; margin: 0;
}

.vs__selected {
  position: relative;
  top: -4px;
}

.vs__actions {
  display: none !important;
}

// reverse icon of btns
.btn-reverse > div {
  flex-direction: row-reverse !important;
}

// transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.text-narrow {
  font-family: 'PT Sans Narrow';
}

div.CodeMirror span.CodeMirror-matchingbracket {color: black !important; font-weight:bold;}

// remove annoying button glow
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control[readonly] {
  cursor: default;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: $orange;
}

// remove readonly textarea glow
.form-control[readonly]:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: $gray-400 !important;
}

[data-lang] {
  font-style: normal;
}

body {
  font-family: 'PT Sans', sans-serif;
  padding-top: 50px;
  background-color: $gray-100;
}

.navbar-fixed-top {
  border: 0;
}

.navbar {
  border-bottom: 1px solid $gray-500;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: $gray-200;
    border-right: 1px solid $gray-300;
  }
}

/* TOP */
a.active {
  font-weight: bold !important;
}

/* STREAM DASHBOARD INFORMATIONS */
.stream-info-container {
  background: $info-bg;
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid $gray-500;
}

.stream-info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  padding-top: 6px;
}

.stream-info > h2 > small {
  display: none;
}

.stream-info:hover > h2 > small {
  display: inline;
}

.stream-info h2 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.stream-info span.data {
  color: $gray-700;
  margin-left: 5px;
  font-size: small;
}

.stream-info #diffFollowers {
  position: absolute;
  margin-left: 2px;
}

.stream-info #diffFollowers.up {
  font-size: 18px;
  color: $green;
}

.stream-info #diffFollowers.down {
  font-size: 18px;
  color: $red;
}

.stream-info span.stats {
  font-size: small;
}

.stream-info span.stats i {
  font-size: smaller;
}

.stream-info span.stats span.stats-up {
  vertical-align: super;
}

.stream-info span.stats span.stats-mid {
  vertical-align: initial;
}

.stream-info span.stats span.stats-down{
  vertical-align: sub;
}


@media (max-width : 770px) {
  .stream-info:first-child::before {
    border-left: 0;
  }
  .stream-info:nth-child(2n-1)::before {
    border-left: 0;
  }
}

@media (min-width : 770px) and (max-width : 992px) {
  .stream-info:first-child::before {
    border-left: 0;
  }
  .stream-info:nth-child(3n+1)::before {
    border-left: 0;
  }
}

@media (min-width : 992px){
  .stream-info:nth-child(12)::before {
    border-left: 0;
  }
}

.stream-info::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    height: 30px;
    border-left: 1px solid #ddd;
}

/* WIDGETS */
.nav-pills {
  height: 40px;
  overflow: hidden;
}

.nav-pills > li > a {
  border-radius: 0px;
  font-weight: bold;
  padding: 10px;
}
.nav-pills > li > a > i {
  font-size: 1.2em;
}

.nav-pills > li + li {
  margin-left: 0;
}

#raffles-participants-list li:hover {
  background-color: $gray-200;
}

#raffles-participants-list li {
  padding: 5px;
  font-size: 10px;
  float: left;
  cursor: pointer;
}

.btn-label {
  background-color: transparent !important;
  color: $black !important;
  border: 0px !important;
  font-weight: bold;
}

.btn-label:hover {
  cursor: auto;
}

.widgets {
  padding-top: 20px;
  padding-bottom: 20px;
}


#addWidget {
  display: flex;
}

.widgetAdd, .dashboardRemove {
  flex-grow: 1;
  color: $gray-800;
  border: 3px dashed $gray-400;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  line-height: 100px;
  cursor: pointer;
}

.dashboardRemove {
  color: $red;
  border: 3px dashed $red;
}

.widget {
  overflow-x: hidden;
  color: $gray-700;
  background: $card-bg;
  padding: 0;
  height: 100%;
  width: 100%;
  border: 1px solid $gray-400
}

.widget .card-header {
  padding: 0;
  height: 40px;
}

.widget .card-body {
  padding: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.widget .card-body .card-title {
  padding: 0 1rem;
}

h6 {
  font-size: .9rem !important;
  text-transform: uppercase !important;
  margin-top: 0 !important;
  line-height: 2.6rem !important;
  font-weight: bold !important;
  color: theme-color("primary") !important;
  margin-right: .5rem !important;
  margin-left: .5rem !important;
  font-family: 'PT Sans', sans-serif !important;

}

span.title {
  display: inline-block;
  font-size: 26px !important;
  font-weight: bold !important;
  border: 0 !important;
  padding:0 10px !important;
  margin-bottom: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 100;
  color: $gray-700;
}

span.title-part {
  font-size:18px !important;
  margin-top: 1rem;
  border: 1px solid $gray-400 !important;
  border-bottom: 0px !important;
  background-color: $white;
  position: relative;
  top: 1px;
}

span.title.title-part.text-default + div.widget {
  padding-left: 1rem; padding-right: 1rem;
}

.widget .title:first-letter {
    text-transform: uppercase;
}

.widget .title small {
  font-size: 50%;
}

.widget .controls {
  position: absolute;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
  z-index: 10;
  line-height: 70px;
}

.widget .title ~ .controls .dropdown {
  margin-top: -55px;
  float:left;
}

.widget .controls .not-active {
  color: $gray-800 !important;

}

#dashboard > div, #widgets-close > a {
  padding: 10px;
  font-family: 'PT Sans', sans-serif !important;
  font-weight: bold;
  font-size: 1rem;
}

#widgets-close a:hover, #widgets-close a:hover span {
  color: theme-color("primary") !important;
  text-decoration: none;
}

#dashboard div span, #widgets-close a span {
  color: $gray-700;
  padding-top: 5px;
  display: block;
  text-align: center;
}

#dashboard a:hover span {
  color: theme-color("primary") !important;
  text-decoration: none;
}

.widget .table {
  margin-bottom: 0;
}

.widget .tab-content, .widget .tab-pane.active {
  height: 100%;
  padding: 0.2rem;
}

.widget .table tr:first-child > td {
  border: 0;
}

.widget .table tr > td {
  border-top: 1px dotted #eee;
  font-size: .8rem
}

#settings .widget .table tr > td {
  width: 30%
}

#wGAS dl {
  margin: 0;
}

#yt-song-requests {
  max-height: 300px !important;
  text-overflow: clip;
  overflow: overlay;
}

#YTPlayer {
  display: block;
  position: absolute;
}

#video-title {
  padding-bottom: 10px;
  font-size: small;
  font-weight: bold;
}

#soundboard-widget, #cmdboard-widget {
  text-align:center;
}

#soundboard-widget button, #cmdboard-widget button {
  margin: 5px;
  font-weight: bold;
}

 .chat-block {
   padding-left: 10px; padding-right: 10px;
 }

#chat-room {
  padding-bottom: 5px;
}

#chat-room iframe {
  height: 100%;
  padding-bottom: 40px;
}
#chat-room iframe > .chat-header {
  display: none !important;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0; right: 0;
  background-color: $white;
  border: 1px dotted $gray-400;
  font-size: 10px;
  padding: 5px;
  line-height: 10px;
}

/* PAGES */
h2.title {
  display: inline-block;
  font-size: 26px !important;
  font-weight: bold;
  text-transform: uppercase;
  border: 0 !important;
  position: relative;
  top: -10px;
  left: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 100;
}

.paging {
  padding: 0 10px;
  text-align: right;
  display: inline-block;
}

.tableMenu {
  text-align: right !important;
  width: 18%;
}

table th {
  font-size: 14px;
}

table th.sortable {
  cursor: pointer;
}

table .tableMenu button { visibility: hidden; }

table tr:hover > .tableMenu button { visibility: visible; }

/* STATS */
[id^=google-visualization-errors-] {
  display: none;
}

.streamEvents {
  padding: 0;
  margin: 0
}
.streamEvents li {
  list-style-type: none
}

table td {
  vertical-align: middle !important;
}

table a {
  font-family: 'PT Mono', monospace;
  font-size: 10px;
  color: $gray-900;
}

/* QUEUE-WIDGET */
.queue-list-group {
  margin-bottom: 0
}

span.queue-list-group-item {
  width: 100%;
  float: left;
  font-size: 18px;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 400px) {
  span.queue-list-group-item {
    width: 50%;
  }
}

/* SOUNDBOARD-WIDGET */
#soundboard-list.row, #cmdboard-list.row {
  margin: 0;
}

#soundboard-list .col-4, #cmdboard-list .col-4 {
  padding: 0 !important;
}

.soundboard-list-group-item, .cmdboard-list-group-item {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.cmdboard-list-group-item {
  border-left: 0;
  border-right: 0;
  text-align: left;
  height: 52.5px;
}

#soundboard-list button, #cmdboard-list button {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* MODAL GAME AND TITLE */

.carousel-games-inner {
  text-align: center;
}

.titles-list-item {
  padding:0;
  display: inline-block;
  margin: 0 .5% 0 .5%;
}

.titles-list-item.focus {
  border-bottom: .3rem solid theme-color("primary");
}

.carousel-control-next, .carousel-control-prev {
  color: $black;
  width: 8%;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
  color: theme-color("primary");
}

.carousel-control-next:focus, .carousel-control-prev:focus {
  color: $black;
  opacity: 0.5;
}


.carousel-control-prev {
  justify-content: left;
}

.carousel-control-next {
  justify-content: flex-end;
}

#change-game-input + ul#change-game-search-list {
  display: none;
}

#change-game-input:focus + ul#change-game-search-list, #change-game-search-list:hover {
  display: block !important;
}

#change-game-search-list {
  list-style-type: none;
  padding: 0;
  border: 1px dotted $gray-300;
  border-top: 0;
  position: absolute;
  background-color: $white;
  width: auto;
  z-index: 9000;
  height: auto;
  max-height: 200px;
  overflow: auto;
}

#change-game-search-list li {
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

#change-game-search-list li:hover {
  color: theme-color("primary")
}

.dlg-game-and-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.form-control-feedback {
  z-index: 20 !important;
}

.form-search {
  width: auto;
}

label {
  font-size: 20px;
  color:$gray-800;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
  text-indent: 1rem;
  letter-spacing: 1px;
}

/* VOLUME SLIDER */
.slider-handle.custom {
	background-color: transparent !important;
}

.slider-handle.custom::before {
  content: '' !important;
}

.slider-handle {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.slider.slider-vertical {
  height: 100% !important;
}

.slider-track {
  width: 100% !important;
  left: 0 !important;
  background-image: none;
  background-color: theme-color("primary") !important;
}

.slider-selection {
  border-radius: 0 !important;
}

.slider-track-high {
  background-color: theme-color("primary") !important;
  border-radius: 0 !important;
}

.menu-container {
  border-bottom: 1px solid $gray-500;
}

#gallery-list {
  padding-left: 0;
  list-style: none;
}

#gallery-list li {
  width: 12%;
  max-width: 12%;
  font-size: 12px;
  float: left;
  margin: 0.25%;
  text-align: center;
}

#gallery-list li img {
  display: inline-block;
  width: 100%;
}

#gallery-list li i {
  display: inline-block;
  width: 100%;
  font-size: 5vw;
  margin-top: 15%;
}

abbr {
  display: inline-block;
}

abbr[data-original-title], abbr[title] {
  text-decoration: none;
  line-height: 25px;
  padding: 5px;
  border: 1px solid $gray-300;
  background-color: $white;
  cursor: text;
  font-size: 1rem;
}

#pages {
  position: relative;
  top: 5px;
}

span.badge {
  font-size: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'PT Sans';
  padding: 0.2em;
  padding-top: 0.3rem;
}

h5 .badge {
  font-size: 0.7rem;
  text-transform: initial;
  font-weight: normal;
  padding: .3rem;
  border-radius: 1rem;
  position: relative;
  bottom: .1rem;
}

kbd {
  padding: 3px 4px;
  font-family: 'PT Mono', monospace;
  font-size: 100%
}

h5 .badge {
  font-size: 0.7rem;
  text-transform: initial;
  font-weight: normal;
  padding: .3rem;
  border-radius: 1rem;
  position: relative;
  bottom: .2rem;
}

.badge-user {
  background-color: $orange;
  color: $white;
}

.badge-global, .badge-trigger {
  background-color: $purple;
  color: $white;
}

.deleteTab {
  display: none !important;
  font-weight: normal;
}

li.active a.withDelete {
  padding-right: 35px;
}

li a.active .deleteTab {
  display: inline-block !important;
  color: $red !important;
}

.badge-bot-response {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'PT Sans';
  padding: 0.2em;
  padding-top: 0.3rem;
}

.kbd-bot-response {
  font-weight: bold;
  padding: 3px;
  font-family: 'PT Mono', monospace;
  text-transform: uppercase;
  color: $gray-800;
  background-color: $white;
}

#bot-responses {
  column-count: 2;
  font-size: .8rem;
  padding-top: 0.5rem;
}

.settings {
  width: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.2rem !important;
  padding: 10px;
  margin: 0;
  border-radius: 4px;
}

.settings-part {
  font-size: 1.0rem !important;
  padding: 10px;
}

.settings strong {
  font-weight: bold !important;
  text-transform: uppercase;
  line-height: 40px;
  color: $gray-600;
}

.settings div label {
  text-transform: uppercase !important;
  font-size: 20px !important;
}

.toggle.btn {
  min-width: 150px !important;
  min-height: 40px;
}

.plus-button {
  color: $green !important;
}

.plus-button.disabled { color: $gray-300 !important; }

.plus-button:hover {
  color: $white !important;
}

.table th {
  border-top: 0;
  font-size: 1rem !important;
}

.editable-variable {
  user-select: none;
  display: inline-block;
  font-family: monospace;
  color: $bot-response-text-color;
  border: 1px solid $bot-response-border-color;
  padding: 0 4px;
  background-color: $bot-response-bg-color;
}

.editable-variable.block {
  display: block;
  padding:2px;
  margin: 2px
}

#helper {
  display: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid $orange;
  border-top: 1px dotted $gray-200;
  padding: 0 10px 5px 10px;
  background-color: $white;
  margin-top: 6px;
  margin-left: -3px;
  position: absolute;

}

table tr td hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $black;
  margin: 1em 0;
  padding: 0;
}

.navbar-nav .nav-link {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.nav-tabs .nav-link {
  padding: .5rem;
  position:relative;
  z-index: 1;
}

.dropdown-header:nth-of-type(1) {
  padding: 0 0.5rem;
}

.dropdown-header {
  padding: 1rem 0.5rem 0.1rem 0.5rem;
}

.dropdown-item {
  padding: 0.1rem 1rem;
}

.nav-tabs {
  border-bottom: 0;
}

.btn-widget {
  border: 0;
  width: 100%;
}

.row-widget, .col-widget {
  padding: 0;
  margin: 0;
}

.text-red {
  color: $red;
}

.text-orange {
  color: $orange;
}

.text-blue {
  color: theme-color("primary");
}

.text-indigo {
  color: $indigo;
}

.text-yellow {
  color: $yellow;
}

blockquote {
  border:none;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin-bottom:-30px;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding-left: 0.4em;
}

.eventlist-blockquote {
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 2px;
  padding: 0.5rem;
  overflow-wrap: break-word;
}

.eventlist-blockquote:before {
    content: "\201C";
    font-weight: bold;
    color: $gray-400;
    font-size: 1rem;
    left: -0.1rem;
    position: relative;
    font-family: 'Georgia';
}
.eventlist-blockquote:after {
    content: "\201D";
    font-weight: bold;
    color: $gray-400;
    font-size: 1rem;
    position: relative;
    left: 0.1rem;
    top: .7rem;
    font-family: 'Georgia';
}

.eventlist-text {
  font-size: .8rem;
  position: relative;
  top: -2px;
}

.eventlist-username {
  flex-wrap: wrap;
  font-weight: bold;
  color: $gray-700;
  line-height: 1rem;
}

.eventlist-username * {
  flex-basis: 100%;
}

#eventlist-main .row {
  margin: 0;
}

#eventlist-main > .row:nth-child(2n) {
  background-color: $gray-100;
}

.nav-btn {
  height: 100%;
  border: 0 !important;
}

.nav-dropdown {
  color: theme-color("primary") !important;
}
.nav-dropdown[aria-expanded=true] {
  color: $white !important;
}

/* animations */
.row:hover > .col-auto i.anim-heartbeat {
	animation: beat 1.3s infinite alternate;
	transform-origin: center;
}

.row:hover > .col-auto i.anim-shake {
  animation: tada 5s infinite;
  transform-origin: 50% 50%;
}

.row:hover > .col-auto i.anim-float {
  animation: float 1.1s ease infinite;
  transform-origin: 50% 50%;
}

.row:hover > .col-auto i.anim-spin {
  animation: spin 3.5s linear infinite;
  transform-origin: 50% 50%;
}

.row:hover > .col-auto i.anim-burst {
  animation: burst 4s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes burst {
  0% { opacity:1 }
  49.9995% { transform:scale(1.8); opacity:0 }
  50% { transform:scale(1); opacity:1 }
  100% { transform:scale(1); opacity:1 }
}

@keyframes beat{
	to { transform: scale(1.2); }
}

@keyframes tada {
  0% { transform: scale(1) }
  5.55556% { transform:scale(.9) rotate(-8deg) }
  11.11111% { transform:scale(.9) rotate(-8deg) }
  16.66667% { transform:scale(1.3) rotate(8deg) }
  22.22222% { transform:scale(1.3) rotate(-8deg) }
  27.77778% { transform:scale(1.3) rotate(8deg) }
  33.33333% { transform:scale(1.3) rotate(-8deg) }
  38.88889% { transform:scale(1.3) rotate(8deg) }
  44.44444% { transform:scale(1) rotate(0) }
  100% { transform:scale(1) rotate(0) }
}

@keyframes float {
  0% { transform: translateY(0) }
  50% { transform: translateY(-6px) }
  100% { transform: translateY(0) }
}

@keyframes spin {
  0% { transform:rotate(0deg) }
  42.85714% { transform:rotate(359deg) }
  100% { transform:rotate(359deg) }
}

.is-checking {
  border-color: $orange;
}

.editable {
  text-decoration: none;
  line-height: 25px;
  flex-grow: 1;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid $gray-300;
  border-radius: 5px !important;
  background-color: $white;
  cursor: text;
  min-height: 2rem;
}

.editable-variable-click {
  padding: 5px;
}

.form-control.editable {
  font-size: .8rem !important;
}

#ignorelist-textarea:focus + button {
  display: block;
}

.dialog-group:first-child() {
  padding-top: 0;
  border-top: 0;
}

.dialog-group:last-child() {
  padding-bottom: 0;
}

.dialog-group {
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top: 1px dotted $gray-200
}

.modal-footer > .alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
}

.invalid-tooltip {
  top: -80%;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: $gray-500;
}

.form-error {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  background-color: $red;
  border-color: $red;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  display: none;
}

.card-title {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-outline-bottom {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 3px;
}

.btn, .alert {
  font-family: 'PT Sans Narrow', sans-serif;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: $white
}

.btn-light, .btn-light:hover, .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  color: $black
}

.dropdown-menu.show button { cursor: pointer; }
.page-menu .alert { cursor: default; }
.page-menu a.alert { cursor: help !important; }
.popover-body > .card { border: 0; }

.invalid-feedback-popover {
  margin: 0;
  padding: 0.1rem;
  font-size: 80%;
  text-align: center;
}

.btn-group-toggle {
  border: 1px solid $gray-400,
}

.icon { position: absolute; top:0; right: 1rem; height: 100%; font-size: 1.4rem; }

.small-spaced {
  font-weight: bold; font-size: 11px; text-transform: uppercase; letter-spacing: 1px;
}