<div class="card widget">
  <div class="card-header">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="nav-item">
        <a class="nav-link" href="#raffles-participants" aria-controls="home" role="tab" data-toggle="tab" title="Participants">
          <span id="raffles-participants-count">0</span>
          <i class="fas fa-users" aria-hidden="true"></i>
        </a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link active" href="#raffles-giveaway" aria-controls="home" role="tab" data-toggle="tab" title="Giveaway">
          <i class="fas fa-gift" aria-hidden="true"></i>
        </a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link" href="#raffles-winner" aria-controls="home" role="tab" data-toggle="tab" title="Last winner" style="display:none">
          <i class="fas fa-trophy" aria-hidden="true"></i>
          <span class="raffles-winner-name"></span>
        </a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link" href="#raffles-settings" aria-controls="home" role="tab" data-toggle="tab" title="Settings">
          <i class="fas fa-cog" aria-hidden="true"></i>
        </a>
      </li>
      <li role="presentation" class="nav-item widget-popout">
        <a class="nav-link" title="Popout" target="_blank" href="/popout/#raffles">
          <i class="fas fa-external-link-alt"></i>
        </a>
      </li>
      <li class="nav-item ml-auto">
        <h6 class="widget-title" data-lang="widget-title-raffles"></h6>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="card-body">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="raffles-participants">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search..." id="rafflesWidgetSearch" onkeyup="raffles.search(this)">
          <span class="input-group-btn">
            <button class="btn btn-muted" type="button" title="Cancel search" onclick="raffles.clean()">
              <i class="fas fa-trash"></i>
            </button>
          </span>
        </div>
        <ul class="list-unstyled" id="raffles-participants-list"></ul>
      </div>
      <!-- /PARTICIPANTS -->

      <div role="tabpanel" class="tab-pane active" id="raffles-giveaway">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">!</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter keyword..." id="rafflesWidgetKeyword">
          <span class="input-group-btn btn-group">
            <button class="btn btn-success" id="openBtn" type="button" title="" onclick="raffles.open()">
                <i class="fas fa-plus" aria-hidden="true"></i>
            </button>
            <button class="btn btn-danger" style="display: none" id="removeBtn" type="button" title="" onclick="raffles.remove()">
              <i class="fas fa-times"></i>
            </button>
            <button type="button" class="btn btn-success" id="raffleWidgetRoll" onclick="raffles.pick()" disabled="disabled">
              <i class="fas fa-trophy"></i>
            </button>
          </span>
        </div>

        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-default btn-label" disabled="disabled" data-lang="eligible-to-enter"></button>
          </div>
          <div class="w-100"></div>
          <div class="col text-center">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-danger" id="followersCheckbox" onclick="raffles.toggleBtn(this)" data-lang="followers"></button>
              <button type="button" class="btn btn-outline-danger" id="subscribersCheckbox" onclick="raffles.toggleBtn(this)" data-lang="subscribers"></button>
              <button type="button" class="btn btn-outline-success" id="everyoneCheckbox" onclick="raffles.toggleBtn(this)" data-lang="everyone"></button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-default btn-label" disabled="disabled" data-lang="raffle-type"></button>
          </div>
          <div class="w-100"></div>
          <div class="col text-center">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-primary" id="keywordRadio" onclick="raffles.toggleBtn(this)" data-lang="raffle-type-keywords"></button>
              <button type="button" class="btn btn-outline-dark" id="ticketsRadio" onclick="raffles.toggleBtn(this)" data-lang="raffle-type-tickets"></button>
            </div>
          </div>
        </div>

        <div class="row" id="tickets-settings" style="display:none">
          <div class="col">
            <button type="button" class="btn btn-default btn-label" disabled data-lang="raffle-tickets-range"></button>
          </div>
          <div class="w-100"></div>
          <div class="col" style="padding-right:0;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">min</span>
              </div>
              <input type="number" class="form-control" placeholder="0" id="minTickets" min="0">
            </div>
          </div>
          <div class="col" style="padding-left:0;">
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">max</span>
              </div>
              <input type="number" class="form-control" placeholder="100" id="maxTickets" min="0">
            </div>
          </div>
        </div>
      </div>

      <!-- /GIVEAWAY -->
      <div role="tabpanel" class="tab-pane" id="raffles-winner">
        <div style="text-align: center">
          <strong style="font-size: 30px">
            <i class="fab fa-twitch" aria-hidden="true"></i>
            <span class="raffles-winner-name"></span>
          </strong>
        </div>

        <div class="text-center">
          <div class="btn-group" role="group ">
            <button type="button" class="btn btn-link" disabled="disabled" id="raffleWinnerFollowing">
              <span>
                <i aria-hidden="true"></i>
                <span data-lang="follower"></span>
              </span>
            </button>
            <button type="button" class="btn btn-link">
              <a href="" id="raffleWinnerMessage" target="_blank">
                <i class="fas fa-envelope" aria-hidden="true"></i>
                <span data-lang="send-message"></span>
              </a>
            </button>
            <button type="button" class="btn btn-link" onclick="raffles.pick()">
              <span style="color: gray">
                <i class="fas fa-refresh" aria-hidden="true"></i>
                <i data-lang="roll-again"></i>
              </span>
            </button>
          </div>
        </div>

        <div class="table-responsive" style="margin-top: 0; padding-left: 10px; padding-right: 10px;">
          <table class="table table-sm">
            <thead>
              <tr>
                <td colspan="2" style="vertical-align: bottom; font-size: 18px;">
                  <i class="fas fa-comments-o" aria-hidden="true"></i>
                  <i data-lang="messages"></i>
                </td>
              </tr>
            </thead>
            <tbody style="font-size:10px;" id="raffleMessages">
            </tbody>
          </table>
        </div>
      </div>
      <!-- /WINNER -->
      <div role="tabpanel" class="tab-pane" id="raffles-settings">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text" data-lang="announce-every"></span>
          </div>
          <input type="text" class="form-control" id="raffleAnnounce">
          <div class="input-group-append">
              <span class="input-group-text" data-lang="minutes"></span>
          </div>
        </div>
      </div>
      <!-- /SETTINGS -->

      <div class="clearfix"></div>
    </div>
  </div>
</div>

<script>
  socket.on('systems', (data) => {
    if (!data.points) {
      $("#ticketsRadio").hide()
    }
  })

  socket.emit('getConfiguration')
  socket.once('configuration', (data) => {
    $('#raffleAnnounce').val(data.raffleAnnounceInterval)
  })

  var $raffleAnnounce = $('#raffleAnnounce')
  $raffleAnnounce.off()
  $raffleAnnounce.on('focusout', function () {
    var value = $raffleAnnounce.val()
    var data = {}
    data['raffleAnnounceInterval'] = value
    socket.emit('saveConfiguration', data)
  })

  socket.emit('raffles.refresh')
  socket.on('raffles.refresh.data', (data) => {
    console.group('raffles widget - raffles.refresh.data')
    console.debug(data)

    const RAFFLE = data.raffle
    const PARTICIPANTS = data.participants
    const WINNER = data.winner
    const MESSAGES = data.messages

    if (!_.isNil(RAFFLE) && _.isNil(RAFFLE.winner)) {
      // if raffle doesn't have a winner set keyword into input
      $('#rafflesWidgetKeyword').val(RAFFLE.keyword.replace('!', '')).attr('disabled', 'disabled')

      // disable buttons
      $('#everyoneCheckbox').attr('disabled', 'disabled')
      $('#subscribersCheckbox').attr('disabled', 'disabled')
      $('#followersCheckbox').attr('disabled', 'disabled')

      // set buttons state
      if (RAFFLE.followers) $('#followersCheckbox').removeClass().addClass('btn btn-outline-success')
      else $('#followersCheckbox').removeClass().addClass('btn btn-outline-danger')

      if (RAFFLE.subscribers) $('#subscribersCheckbox').removeClass().addClass('btn btn-outline-success')
      else $('#subscribersCheckbox').removeClass().addClass('btn btn-outline-danger')

      if (!RAFFLE.followers && !RAFFLE.subscribers) {
        $('#followersCheckbox').removeClass().addClass('btn btn-outline-danger')
        $('#subscribersCheckbox').removeClass().addClass('btn btn-outline-danger')
        $('#everyoneCheckbox').removeClass().addClass('btn btn-outline-success')
      } else $('#everyoneCheckbox').removeClass().addClass('btn btn-outline-danger')

      // set type state
      if (RAFFLE.type === 0) {
        // raffle is keyword
        $('#keywordRadio').removeClass().addClass('btn btn-primary')
        $('#ticketsRadio').removeClass().addClass('btn btn-outline-primary')
        $('#keywordRadio').attr('disabled', 'disabled')
        $('#ticketsRadio').attr('disabled', 'disabled')
        raffles.hideTickets()
      } else {
        $('#ticketsRadio').removeClass().addClass('btn btn-primary')
        $('#keywordRadio').removeClass().addClass('btn btn-outline-primary')
        $('#ticketsRadio').attr('disabled', 'disabled')
        $('#keywordRadio').attr('disabled', 'disabled')

        $('#minTickets').val(RAFFLE.min).attr('disabled', 'disabled')
        $('#maxTickets').val(RAFFLE.max).attr('disabled', 'disabled')
        raffles.showTickets()
      }

      // update participants
      raffles.participants(PARTICIPANTS)

      // show remove button
      $('#openBtn').hide()
      $('#removeBtn').show()
    } else {
      $('#rafflesWidgetKeyword').val('')
      $('#rafflesWidgetKeyword').removeAttr('disabled')

      $('#everyoneCheckbox').removeAttr('disabled')
      $('#subscribersCheckbox').removeAttr('disabled')
      $('#followersCheckbox').removeAttr('disabled')

      $('#ticketsRadio').removeAttr('disabled')
      $('#keywordRadio').removeAttr('disabled')

      $('#keywordRadio').removeClass().addClass('btn btn-primary')
      $('#ticketsRadio').removeClass().addClass('btn btn-outline-primary')
      $('#keywordRadio').attr('disabled', 'disabled')
      $('#ticketsRadio').removeAttr('disabled')
      raffles.hideTickets()

      $('#minTickets').removeAttr('disabled').val('')
      $('#maxTickets').removeAttr('disabled').val('')

      // show open button
      $('#openBtn').show()
      $('#removeBtn').hide()

      // clear participants
      raffles.participants([])
    }

    if (!_.isNil(WINNER)) {
      $('a[href="#raffles-winner"]').css('display', 'block') // show

      if (raffles.switchToWinner) {
        // go to winners tab
        $('a[href="#raffles-winner"]').tab('show')
      }

      var following = $('#raffleWinnerFollowing')
      following.children('span').css('color', WINNER.is.follower ? 'green' : 'red')
      following.children('span').children('i').removeClass().addClass('fa ' + (WINNER.is.follower ? 'fa-check' :
        'fa-close'))

      var message = $('#raffleWinnerMessage')
      message.attr('href', 'https://www.twitch.tv/message/compose?to=' + WINNER.username)

      $(".raffles-winner-name").text(WINNER.username)
      $("#raffleMessageOffset").text('0:00')
      $("#raffleMessageOffset").css('color', 'red')
      this.timestamp = new Date().getTime()

      // messages
      $('#raffleMessages').empty()
      for (let message of MESSAGES.slice(Math.max(MESSAGES.length - 5, 0))) {
        $('#raffleMessages').append('<tr><td>' + message.text + '</td><td style="text-align: right">' + moment.unix(message.timestamp /
          1000).format("HH:mm:ss") + '</td></tr>')
      }
    }
    raffles.switchToWinner = false // reset variable (only once per click)
    console.groupEnd()
  })

  var raffles = {
    switchToWinner: false,
    toggleBtn: function (el) {
      console.group('raffles widget - toggleBtn()')
      console.debug('element', el)
      console.debug('button pressed', el.id)

      if (el.id === 'keywordRadio' || el.id === 'ticketsRadio') {
        if (el.id === 'keywordRadio') {
          $('#keywordRadio').removeClass().addClass('btn btn-primary')
          $('#ticketsRadio').removeClass().addClass('btn btn-outline-primary')
          $('#keywordRadio').attr('disabled', 'disabled')
          $('#ticketsRadio').removeAttr('disabled')
          raffles.hideTickets()
        } else {
          $('#ticketsRadio').removeClass().addClass('btn btn-primary')
          $('#keywordRadio').removeClass().addClass('btn btn-outline-primary')
          $('#ticketsRadio').attr('disabled', 'disabled')
          $('#keywordRadio').removeAttr('disabled')
          raffles.showTickets()
        }
        console.groupEnd()
        return
      }

      if (el.id === 'everyoneCheckbox') {
        if ($(el).hasClass('btn-outline-danger')) {
          console.debug('disabling followers, subscribers')
          $(el).removeClass().addClass('btn btn-outline-success')
          $('#followersCheckbox').removeClass().addClass('btn btn-outline-danger')
          $('#subscribersCheckbox').removeClass().addClass('btn btn-outline-danger')
        }
      }

      if ($(el).hasClass('btn-outline-success')) {
        $(el).removeClass().addClass('btn btn-outline-danger')

        // check if followers and subscribers are disabled -> state success
        if ($('#subscribersCheckbox').hasClass('btn-outline-danger') && $('#followersCheckbox').hasClass('btn-outline-danger')) $('#everyoneCheckbox').removeClass().addClass('btn btn-outline-success')
      } else {
        $(el).removeClass().addClass('btn btn-outline-success')

        // remove success state from everyone checkbox (as only some viewers can be in raffle
        $('#everyoneCheckbox').removeClass().addClass('btn btn-outline-danger')
      }
      console.groupEnd()
    },
    showTickets: function () {
      $('#tickets-settings').show()
    },
    hideTickets: function () {
      $('#tickets-settings').hide()
    },
    remove: function () {
      console.debug('raffles.remove')
      socket.emit('raffles.remove', '')
    },
    open: function () {
      let followers = $('#followersCheckbox').hasClass('btn-outline-success')
      let subscribers = $('#subscribersCheckbox').hasClass('btn-outline-success')
      let keyword = $('#rafflesWidgetKeyword').val().length > 0 ? '!' + $('#rafflesWidgetKeyword').val() : null
      let min = $('#minTickets').val()
      let max = $('#maxTickets').val()

      let out = []

      if (!_.isNil(keyword)) out.push(keyword)
      if (followers || subscribers) out.push('-for ' + (followers ? 'followers' : ' ') + (subscribers ? 'subscribers' : ' '))
      if (min.length > 0) out.push(`-min ${min}`)
      if (max.length > 0) out.push(`-max ${max}`)

      // if tickets and min or max not set
      if ($('#ticketsRadio').hasClass('btn-primary') && !_.isNil(min) && !_.isNil(max)) out.push('-min 0 -max 100')

      console.group('raffles open()')
      console.debug('data: ', followers, subscribers, keyword, min, max)
      console.debug('out: ', out.join(' '))
      console.groupEnd()
      if (!_.isNil(keyword)) socket.emit('raffles.open', out.join(' '))

      $('a[href="#raffles-winner"]').css('display', 'none') // go to winner tab
    },
    participants: function (list) {
      var max_show = 100
      var $el = $('#raffles-participants-list')
      var count = _.size(list)

      $('#raffles-participants-count').text(count)
      $el.empty()
      _.each(list, function (item) {
        max_show--
        $el.append('<li data-username="' + item.username + '" data-eligible="' + item.eligible +
        '" onclick="raffles.toggleEligibility(this)" class="' + (max_show < 0 ? 'd-none' : '') + '"><i class="far ' + (item.eligible ?
        'fa-check-circle text-success' : 'fa-circle') + '" aria-hidden="true"></i> ' + item.username +
        '</li>')
      })

      if (max_show < 0) {
        $el.append('<li><i class="fas fa-eye-slash" aria-hidden="true" style="color: red"></i> ' + Math.abs(
          max_show) + ' hidden</li>')
      }

      if (count === 0) {
        $("#raffleWidgetRoll").attr('disabled', 'disabled')
      } else $("#raffleWidgetRoll").removeAttr('disabled')
    },
    search: function (el) {
      console.debug('raffles search()', $(el).val())
      let regexp = new RegExp($(el).val())

      var max_show = 100
      for (let item of $('#raffles-participants-list li[data-username]')) {
        if ($(el).val().length === 0) {
          max_show--
          if (max_show < 0) $(item).addClass('d-none')
          else $(item).removeClass()
          $('#raffles-participants-list li:not([data-username])').removeClass()
        } else {
          $('#raffles-participants-list li:not([data-username])').removeClass().addClass('d-none')
          if (item.dataset.username.match(regexp)) {
            $(item).removeClass()
          } else $(item).addClass('d-none')
        }
      }
    },
    clean: function () {
      $('#rafflesWidgetSearch').val('')
      raffles.search($('#rafflesWidgetSearch'))
    },
    toggleEligibility: function (el) {
      $(el).children('i').removeClass()
      if (el.dataset.eligible === 'true') {
        $(el).children('i').addClass('fa fa-dot-circle-o')
      } else {
        $(el).children('i').addClass('fa fa-check-circle-o text-success')
      }
      let eligible = el.dataset.eligible === 'true' ? false : true
      console.debug('New eligibility:', eligible)

      socket.emit('raffles.eligibility', {
        username: el.dataset.username,
        eligible: eligible
      })
    },
    pick: function () {
      this.switchToWinner = true
      socket.emit('raffles.pick')
    }
  }
</script>
