{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-flow",
    "@babel/preset-typescript",
  ],
  "sourceMaps": "inline",
  "plugins": ["source-map-support", "@babel/plugin-proposal-class-properties", "@babel/proposal-object-rest-spread"],
  "comments": false
}