{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-flow",
    ["minify", { "builtIns": false }]
  ],
  "sourceMaps": "inline",
  "plugins": ["source-map-support", "@babel/plugin-proposal-class-properties"]
}