{
  "parser": "babel-eslint",
  "extends": ["standard", "plugin:flowtype/recommended"],
  "plugins": ["flowtype"],
  "rules": {
    "standard/no-callback-literal": "off"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}