.commit
node_modules
package-lock.json
heap
heap-*.csv
logs/*
dest/*
*.zip
db/
*.db
*.db*
report
tsconfig.tsbuildinfo
restart.pid
.env

public/dist/*
public/custom/*
public/dist/css
public/dist/js
public/dist/css/dark.css
public/dist/css/light.css
public/*.html
sogeBot-master/
coverage/
.nyc_output

src/.cache/
