<span id="cooldown-edit">
  <template v-if="loading">
    <div class="alert alert-info" style="width: fit-content; margin: auto; margin-top: 100px; font-size: 20px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px;"><i class="fas fa-circle-notch fa-spin"></i> Loading from server ...</div>
  </template>
  <template v-else>
    <span class="title text-default" style="padding: 0 !important;">
      <a class="btn btn-outline-info" style="border: 0 !important;" href="/#cooldown/list"><i class="fas fa-chevron-circle-left"></i></a>
      <span style="position: relative; top: 2px;">{{ title }} </span>
      <span style="position: relative; top: 2px;" v-if="isEditation">{{ key }}</span>
    </span>

    <span class="float-right">
      <span v-if="pending" style="cursor: auto;" class="alert-danger btn m-0">{{commons.translate('dialog.changesPending')}}</span>
      <button v-if="states.save === 0" type="button" class="btn btn-primary" v-on:click="saveChanges()">{{ commons.translate('dialog.buttons.saveChanges.idle') }}</button>
      <button v-if="states.save === 1" disabled="disabled" type="button" class="btn btn-primary"><i class="fas fa-circle-notch fa-spin"></i> {{ commons.translate('dialog.buttons.saveChanges.progress') }}</button>
      <button v-if="states.save === 2" disabled="disabled" type="button" class="btn btn-success"><i class="fas fa-check"></i> {{ commons.translate('dialog.buttons.saveChanges.done') }}</span></button>
      <button v-if="states.save === 3" disabled="disabled" type="button" class="btn btn-danger"><i class="fas fa-exclamation"></i> {{ commons.translate('dialog.buttons.something-went-wrong') }}</span></button>
    </span>

    <div class="widget pt-3">
      <!-- Editation stuff here -->
      <form>
        <div class="form-group col-md-12">
          <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">!{{ commons.translate('command') }} {{commons.translate('or')}} {{commons.translate('keyword') }}</label>
          <input v-bind:class="{ 'is-invalid': hasError.key }" v-model="key" type="text" class="form-control">
          <div class="invalid-feedback">{{ commons.translate('systems.cooldown.error.isEmpty') }}</div>
        </div>

        <div class="form-group col-md-12">
          <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('cooldown') }} ({{ commons.translate('in-seconds') }})</label>
          <input v-bind:class="{ 'is-invalid': hasError.miliseconds }" v-model="miliseconds" type="text" class="form-control">
          <div class="invalid-feedback">{{ commons.translate('systems.cooldown.error.isEmpty') }}</div>
        </div>

        <div class="form-group row pl-3 pr-3">
          <div class="col-md-2">
            <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('quiet') }}</label>
            <button type="button" class="btn btn-block" v-on:click="quiet = !quiet" v-bind:class="[ quiet ? 'btn-success' : 'btn-danger' ]" aria-hidden="true">{{ (quiet ? commons.translate('enabled') : commons.translate('disabled')) | capitalize }}</button>
          </div>
          <div class="col-md-2">
            <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('cooldown-moderators') }}</label>
            <button type="button" class="btn btn-block" v-on:click="moderator = !moderator" v-bind:class="[ moderator ? 'btn-success' : 'btn-danger' ]" aria-hidden="true">{{ (moderator ? commons.translate('enabled') : commons.translate('disabled')) | capitalize }}</button>
          </div>
          <div class="col-md-2">
            <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{commons.translate('cooldown-owners')}}</label>
            <button type="button" class="btn btn-block" v-on:click="owner = !owner" v-bind:class="[ owner ? 'btn-success' : 'btn-danger' ]" aria-hidden="true">{{ (owner ? commons.translate('enabled') : commons.translate('disabled')) | capitalize }}</button>
          </div>
          <div class="col-md-2">
            <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{commons.translate('cooldown-subscribers')}}</label>
            <button type="button" class="btn btn-block" v-on:click="subscriber = !subscriber" v-bind:class="[ subscriber ? 'btn-success' : 'btn-danger' ]" aria-hidden="true">{{ (subscriber ? commons.translate('enabled') : commons.translate('disabled')) | capitalize }}</button>
          </div>
          <div class="col-md-2">
            <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{commons.translate('cooldown-followers')}}</label>
            <button type="button" class="btn btn-block" v-on:click="follower = !follower" v-bind:class="[ follower ? 'btn-success' : 'btn-danger' ]" aria-hidden="true">{{ (follower ? commons.translate('enabled') : commons.translate('disabled')) | capitalize }}</button>
          </div>
          <div class="col-md-2">
            <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{commons.translate('type')}}</label>
            <button type="button" class="btn btn-block" v-on:click="type = type === 'global' ? 'user' : 'global'" v-bind:class="[ type === 'global' ? 'btn-warning' : 'btn-info' ]" aria-hidden="true">{{ commons.translate(type) | capitalize }}</button>
          </div>
          <div class="col-md-2">
              <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('status') }}</label>
            <button type="button" class="btn btn-block" v-on:click="enabled = !enabled" v-bind:class="[ enabled ? 'btn-success' : 'btn-danger' ]" aria-hidden="true">{{ (enabled ? commons.translate('enabled') : commons.translate('disabled')) | capitalize }}</button>
          </div>
        </div>
      </form>

      <div class="form-group col-md-12" v-if="isEditation">
        <button type="button" class="btn btn-danger" key="deleting" data-lang="dialog.buttons.delete" v-if="states.delete === 0" v-on:click="states.delete=1">{{ commons.translate('dialog.buttons.delete') }}</button>
        <div class="btn-group" role="group" v-if="states.delete === 1">
          <button type="button" class="btn btn-danger" key="deleted" data-lang="dialog.buttons.yes" v-on:click="deleteItem">{{ commons.translate('dialog.buttons.yes') }}</button>
          <button type="button" class="btn btn-success" key="waiting" data-lang="dialog.buttons.no" v-on:click="states.delete=0">{{ commons.translate('dialog.buttons.no') }}</button>
        </div>
        <small class="form-text text-danger" v-html="commons.translate('systems.alias.warning')"></small>
      </div>
      <!-- -->
    </div>
  </template>
</span>

  <script>
    Vue.prototype.commons = commons

    function cooldownEditInit () {
      if (_.size(translations) === 0) return setTimeout(() => cooldownEditInit(), 1)

      var cooldownEdit = new Vue({
        el: '#cooldown-edit',
        data: {
          id: null,
          key: '',
          miliseconds: 60,
          quiet: true,
          owner: true,
          subscriber: true,
          follower: true,
          moderator: true,
          enabled: true,
          type: 'global',

          pending: false,
          loading: false,

          hasError: {
            key: false,
            miliseconds: false
          },

          socket: io('/systems/cooldown', { query: "token=" + token }),

          states: {
            save: 0,
            delete: 0
          }
        },
        methods: {
          validateForm: function () {
            // reset errors
            for (let [key, value] of Object.entries(this.hasError)) {
              this.hasError[key] = false
            }
            if (this.key.trim().length === 0) this.hasError.key = true
            if (String(this.miliseconds).trim().length === 0 || _.isNaN(Number(this.miliseconds)) || Number(this.miliseconds) <= 0) this.hasError.miliseconds = true
            return _.filter(this.hasError, (o) => o === true).length === 0
          },
          deleteItem: function () {
            this.socket.emit('delete', {_id: this.id}, () => {
              page('/#cooldown/list')
            })
          },
          saveChanges: function () {
            if (this.validateForm()) {
              this.states.save = 1
              const data = {
                _id: this.id,
                key: this.key.trim(),
                miliseconds: Number(this.miliseconds) * 1000,
                moderator: this.moderator,
                subscriber: this.subscriber,
                follower: this.follower,
                type: this.type,
                owner: this.owner,
                quiet: this.quiet,
                enabled: this.enabled
              }
              this.socket.emit('update', { items: [data] }, (err, data) => {
                if (err) {
                  console.error(err)
                  return this.states.save = 3
                }
                this.states.save = 2
                this.pending = false
                this.id = String(data._id)
                page('?id=' + this.id + '#cooldown/edit', )
                setTimeout(() => this.states.save = 0, 1000)
              })
            }
          },
        },
        watch: {
          key: function (val, old) {
            this.pending = true
          },
          miliseconds: function (val, old) {
            this.pending = true
          },
          moderator: function (val, old) {
            this.pending = true
          },
          owner: function (val, old) {
            this.pending = true
          },
          quiet: function (val, old) {
            this.pending = true
          },
          enabled: function (val, old) {
            this.pending = true
          }
        },
        computed: {
          isEditation: function () {
            return !_.isNil(this.id)
          },
          title: function () {
            return commons.translate(this.isEditation ? 'dialog.title.edit' : 'dialog.title.add') +
              ' ' + commons.translate('cooldown').toLowerCase()
          }
        },
        filters: {
          capitalize: function (value) {
            if (!value) return ''
            value = value.toString()
            return value.charAt(0).toUpperCase() + value.slice(1)
          }
        }
      })

      // load up from db
      if (commons.urlParam('id')) {
        cooldownEdit.loading = true
        cooldownEdit.id = commons.urlParam('id')
        cooldownEdit.socket.emit('findOne', { where: { _id: commons.urlParam('id') } }, (err, data) => {
          cooldownEdit.key = data.key
          cooldownEdit.miliseconds = data.miliseconds / 1000
          cooldownEdit.moderator = data.moderator
          cooldownEdit.owner = data.owner
          cooldownEdit.quiet = data.quiet
          cooldownEdit.type = data.type
          cooldownEdit.enabled = data.enabled
          cooldownEdit.subscriber = typeof data.subscriber !== 'undefined' ? data.subscriber : true
          cooldownEdit.follower = typeof data.follower !== 'undefined' ? data.follower : true
          cooldownEdit.$nextTick(() => { cooldownEdit.pending = false; cooldownEdit.loading = false })
        })
      }
    }
    cooldownEditInit()
  </script>