<span id="keywords-edit">
    <span class="title text-default" style="padding: 0 !important;">
      <a class="btn btn-outline-info" style="border: 0 !important;" href="/#keywords/list"><i class="fas fa-chevron-circle-left"></i></a>
      <span style="position: relative; top: 2px;">{{ title }} </span>
      <span style="position: relative; top: 2px;" v-if="isEditation">{{ keyword }}</span>
    </span>

    <span class="float-right">
      <span v-if="pending" style="cursor: auto;" class="alert-danger btn m-0">{{commons.translate('dialog.changesPending')}}</span>
      <button v-if="states.save === 0" type="button" class="btn btn-primary" v-on:click="saveChanges()">{{ commons.translate('dialog.buttons.saveChanges.idle') }}</button>
      <button v-if="states.save === 1" disabled="disabled" type="button" class="btn btn-primary"><i class="fas fa-circle-notch fa-spin"></i> {{ commons.translate('dialog.buttons.saveChanges.progress') }}</button>
      <button v-if="states.save === 2" disabled="disabled" type="button" class="btn btn-success"><i class="fas fa-check"></i> {{ commons.translate('dialog.buttons.saveChanges.done') }}</span></button>
      <button v-if="states.save === 3" disabled="disabled" type="button" class="btn btn-danger"><i class="fas fa-exclamation"></i> {{ commons.translate('dialog.buttons.something-went-wrong') }}</span></button>
    </span>

    <div class="widget pt-3">
      <!-- Editation stuff here -->
      <form>
        <div class="form-group col-md-12">
          <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('systems.keywords.command.name') }}</label>
          <input v-bind:class="{ 'is-invalid': hasError.keyword }" v-model="keyword" type="text" class="form-control" v-bind:placeholder="commons.translate('systems.keywords.command.placeholder')">
          <div class="invalid-feedback">{{ commons.translate('systems.keywords.error.isEmpty') }}</div>
        </div>

        <div class="form-group col-md-12">
          <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('systems.keywords.response.name') }}</label>
          <textarea-with-tags
            v-bind:error="hasError.response"
            v-bind:value="response"
            v-bind:placeholder="commons.translate('systems.keywords.response.placeholder')"
            v-on:update="response = $event"></textarea-with-tags>
          <div class="invalid-feedback">{{ commons.translate('systems.keywords.error.isEmpty') }}</div>
        </div>


        <div class="form-group row pl-3 pr-3">
          <div class="col-md-2">
            <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('status') }}</label>
            <button type="button" class="btn btn-block" v-on:click="enabled = !enabled" v-bind:class="[ enabled ? 'btn-success' : 'btn-danger' ]" aria-hidden="true">{{ (enabled ? commons.translate('enabled') : commons.translate('disabled')) | capitalize }}</button>
          </div>
        </div>
      </form>

      <div class="form-group col-md-12" v-if="isEditation">
        <button type="button" class="btn btn-danger" key="deleting" data-lang="dialog.buttons.delete" v-if="states.delete === 0" v-on:click="states.delete=1">{{ commons.translate('dialog.buttons.delete') }}</button>
        <div class="btn-group" role="group" v-if="states.delete === 1">
          <button type="button" class="btn btn-danger" key="deleted" data-lang="dialog.buttons.yes" v-on:click="deleteItem">{{ commons.translate('dialog.buttons.yes') }}</button>
          <button type="button" class="btn btn-success" key="waiting" data-lang="dialog.buttons.no" v-on:click="states.delete=0">{{ commons.translate('dialog.buttons.no') }}</button>
        </div>
        <small class="form-text text-danger" v-html="commons.translate('systems.keywords.warning')"></small>
      </div>
      <!-- -->
    </div>
  </span>

  <script>
    Vue.prototype.commons = commons

    function keywordsEditInit () {
      if (_.size(translations) === 0) return setTimeout(() => keywordsEditInit(), 1)

      var keywordsEdit = new Vue({
        el: '#keywords-edit',
        components: {
          'textarea-with-tags': textAreaWithTags
        },
        data: {
          id: null,
          response: '',
          keyword: '',
          enabled: true,

          pending: false,

          hasError: {
            response: false,
            keyword: false
          },

          socket: io('/systems/keywords', { query: "token=" + token }),

          states: {
            save: 0,
            delete: 0
          }
        },
        methods: {
          validateForm: function () {
            // reset errors
            for (let [key, value] of Object.entries(this.hasError)) {
              this.hasError[key] = false
            }
            if (this.response.trim().length === 0) this.hasError.response = true
            if (this.keyword.trim().length <= 1) this.hasError.keyword = true
            return _.filter(this.hasError, (o) => o === true).length === 0
          },
          deleteItem: function () {
            this.socket.emit('delete', {_id: this.id}, () => {
              page('/#keywords/list')
            })
          },
          saveChanges: function () {
            if (this.validateForm()) {
              this.states.save = 1
              const data = {
                _id: this.id,
                response: this.response.trim(),
                keyword: this.keyword.trim(),
                enabled: this.enabled
              }
              this.socket.emit('update', {items: [data]}, (err, data) => {
                if (err) {
                  console.error(err)
                  return this.states.save = 3
                }
                this.states.save = 2
                this.pending = false
                this.id = String(data._id)
                page('?id=' + this.id + '#keywords/edit')
                setTimeout(() => this.states.save = 0, 1000)
              })
            }
          },
        },
        watch: {
          enabled: function (val, old) {
            this.pending = true
          },
          response: function (val, old) {
            this.pending = true
          },
          keyword: function (val, old) {
            this.pending = true
          }
        },
        computed: {
          isEditation: function () {
            return !_.isNil(this.id)
          },
          title: function () {
            return commons.translate(this.isEditation ? 'dialog.title.edit' : 'dialog.title.add') +
              ' ' + commons.translate('systems.keywords.command.name')
          }
        },
        filters: {
          capitalize: function (value) {
            if (!value) return ''
            value = value.toString()
            return value.charAt(0).toUpperCase() + value.slice(1)
          }
        }
      })

      // load up from db
      if (commons.urlParam('id')) {
        keywordsEdit.id = commons.urlParam('id')
        keywordsEdit.socket.emit('findOne', { where: { _id: commons.urlParam('id') } }, (err, data) => {
          keywordsEdit.response = data.response
          keywordsEdit.keyword = data.keyword
          keywordsEdit.enabled = data.enabled
          keywordsEdit.$nextTick(() => { keywordsEdit.pending = false })
        })
      }
    }
    keywordsEditInit()
  </script>