<span id="customcommands-edit">
    <span class="title text-default" style="padding: 0 !important;">
      <a class="btn btn-outline-info" style="border: 0 !important;" href="/#customcommands/list"><i class="fas fa-chevron-circle-left"></i></a>
      <span style="position: relative; top: 2px;">{{ title }} </span>
      <span style="position: relative; top: 2px;" v-if="isEditation">{{ command }}</span>
    </span>

    <span class="float-right">
      <span v-if="pending" style="cursor: auto;" class="alert-danger btn m-0">{{commons.translate('dialog.changesPending')}}</span>
      <button v-if="states.save === 0" type="button" class="btn btn-primary" v-on:click="saveChanges()">{{ commons.translate('dialog.buttons.saveChanges.idle') }}</button>
      <button v-if="states.save === 1" disabled="disabled" type="button" class="btn btn-primary"><i class="fas fa-circle-notch fa-spin"></i> {{ commons.translate('dialog.buttons.saveChanges.progress') }}</button>
      <button v-if="states.save === 2" disabled="disabled" type="button" class="btn btn-success"><i class="fas fa-check"></i> {{ commons.translate('dialog.buttons.saveChanges.done') }}</span></button>
      <button v-if="states.save === 3" disabled="disabled" type="button" class="btn btn-danger"><i class="fas fa-exclamation"></i> {{ commons.translate('dialog.buttons.something-went-wrong') }}</span></button>
    </span>

    <div class="widget pt-3">
      <!-- Editation stuff here -->
      <form>
        <div class="form-group col-md-12">
          <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('systems.customcommands.command.name') }}</label>
          <input v-bind:class="{ 'is-invalid': hasError.command }" v-model="command" type="text" class="form-control" v-bind:placeholder="commons.translate('systems.customcommands.command.placeholder')">
          <div class="invalid-feedback">{{ commons.translate('systems.customcommands.error.isEmpty') }}</div>
        </div>

        <div class="form-group col-md-12">
          <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('systems.customcommands.response.name') }}</label>

          <div style="display: flex; flex: 1 1 auto" :class="[i !== 0 ? 'pt-2' : '']" v-for="(response, i) of _.orderBy(responses, 'order', 'asc')">
            <textarea-with-tags
              v-bind:error="hasError.responses && response.response.trim().length === 0"
              v-bind:value="response.response"
              v-bind:placeholder="commons.translate('systems.customcommands.response.placeholder')"
              v-bind:filters="['global', 'sender', 'param', '!param', 'touser']"
              v-on:update="response.response = $event"></textarea-with-tags>
            <textarea-with-tags
              v-bind:value="response.filter"
              v-bind:placeholder="commons.translate('systems.customcommands.filter.placeholder')"
              v-on:update="response.filter = $event"
              v-bind:filters="['sender', 'is.moderator', 'is.subscriber', 'is.vip', 'is.follower', 'is.broadcaster', 'is.bot', 'is.owner', 'rank', 'game', 'title', 'views', 'followers', 'hosts', 'subscribers']"></textarea-with-tags>

            <div class="h-auto w-auto" style="flex-shrink: 0;">
              <button data-toggle="dropdown" class="btn btn-outline-dark border-0 h-100 w-100" style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;"><i class="fas fa-key mr-1" aria-hidden="true"></i>
                <span v-if="getPermissionName(response.permission)">{{ getPermissionName(response.permission) }}</span>
                <span v-else class="text-danger"><i class="fas fa-exclamation-triangle"></i> Permission not found</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="permissionsMenuButton">
                <a class="dropdown-item"
                    style="cursor: pointer"
                    v-for="p of permissions"
                    :key="p.id"
                    @click="response.permission = p.id; pending = true;">{{ getPermissionName(p.id) | capitalize }}</a>
              </div>
            </div>
            <div class="h-auto w-auto" style="flex-shrink: 0;">
              <button data-toggle="dropdown" class="btn btn-outline-dark border-0 h-100 w-100" style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">
                <i class="fas mr-1" :class="[response.stopIfExecuted ? 'fa-stop' : 'fa-play']" aria-hidden="true"></i>
                {{ commons.translate(response.stopIfExecuted ? 'commons.stop-if-executed' : 'commons.continue-if-executed') | capitalize }}</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" style="cursor: pointer" v-on:click="response.stopIfExecuted = true; pending = true">{{ commons.translate('commons.stop-if-executed') | capitalize }}</a>
                <a class="dropdown-item" style="cursor: pointer" v-on:click="response.stopIfExecuted = false; pending = true">{{ commons.translate('commons.continue-if-executed') | capitalize }}</a>
              </div>
            </div>

            <div class="h-auto w-auto" style="flex-shrink: 0;">
              <button v-if="responses.length > 1" data-toggle="dropdown" class="btn btn-block btn-outline-dark border-0 h-100 w-100"><i class="fas fa-ellipsis-v"></i></button>
              <div class="dropdown-menu p-0" v-if="responses.length > 1">
                <button v-if="i !== 0" class="dropdown-item p-2 pl-4 pr-4" style="cursor: pointer" type="button" @click="moveUpResponse(response.order)"><i class="fas fa-sort-up fa-fw"></i> {{ commons.translate('commons.moveUp') | capitalize }}</button>
                <button v-if="i !== responses.length - 1" class="dropdown-item p-2 pl-4 pr-4" style="cursor: pointer" type="button" @click="moveDownResponse(response.order)"><i class="fas fa-sort-down fa-fw"></i> {{ commons.translate('commons.moveDown') | capitalize }}</button>
                <button class="dropdown-item p-2 pl-4 pr-4 text-danger" style="cursor: pointer" type="button" @click="deleteResponse(response.order)"><i class="fas fa-trash-alt fa-fw"></i> {{ commons.translate('delete') }}</button>
              </div>
            </div>
          </div>
          <div class="invalid-feedback" :style="{'display': hasError.responses === true ? 'block !important' : 'no'}">{{ commons.translate('systems.customcommands.error.isEmpty') }}</div>
          <button class="btn btn-primary btn-block mt-2" type="button" @click="responses.push({ filter: '', order: responses.length, response: '', permission: _.orderBy(permissions, 'order', 'asc').pop().id })">{{ commons.translate('systems.customcommands.addResponse') }}</button>
        </div>

        <div class="form-group row pl-3 pr-3">
          <div class="col-md-2">
            <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('count') }}</label>
            <input type="number" class="form-control" v-model="count" readonly="true">
            <button type="button" class="btn btn-block btn-danger" @click="resetCount">{{ commons.translate('commons.reset') | capitalize }}</button>
          </div>
          <div class="col-md-2">
              <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('visible') }}</label>
            <button type="button" class="btn btn-block" v-on:click="visible = !visible" v-bind:class="[ visible ? 'btn-success' : 'btn-danger' ]" aria-hidden="true">{{ (visible ? commons.translate('visible') : commons.translate('hidden')) | capitalize }}</button>
          </div>
          <div class="col-md-2">
              <label style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">{{ commons.translate('status') }}</label>
            <button type="button" class="btn btn-block" v-on:click="enabled = !enabled" v-bind:class="[ enabled ? 'btn-success' : 'btn-danger' ]" aria-hidden="true">{{ (enabled ? commons.translate('enabled') : commons.translate('disabled')) | capitalize }}</button>
          </div>
        </div>
      </form>

      <div class="form-group col-md-12" v-if="isEditation">
        <button type="button" class="btn btn-danger" key="deleting" data-lang="dialog.buttons.delete" v-if="states.delete === 0" v-on:click="states.delete=1">{{ commons.translate('dialog.buttons.delete') }}</button>
        <div class="btn-group" role="group" v-if="states.delete === 1">
          <button type="button" class="btn btn-danger" key="deleted" data-lang="dialog.buttons.yes" v-on:click="deleteItem">{{ commons.translate('dialog.buttons.yes') }}</button>
          <button type="button" class="btn btn-success" key="waiting" data-lang="dialog.buttons.no" v-on:click="states.delete=0">{{ commons.translate('dialog.buttons.no') }}</button>
        </div>
        <small class="form-text text-danger" v-html="commons.translate('systems.customcommands.warning')"></small>
      </div>
      <!-- -->
    </div>
  </span>

  <script>
    Vue.prototype.commons = commons

    function customCommandsEditInit () {
      if (_.size(translations) === 0) return setTimeout(() => customCommandsEditInit(), 1)

      var customCommandsEdit = new Vue({
        el: '#customcommands-edit',
        components: {
          'textarea-with-tags': textAreaWithTags
        },
        data: {
          id: null,
          responses: [{filter: '', response: '', order: 0, permission: null, stopIfExecuted: false}],
          command: '',
          visible: true,
          enabled: true,
          count: 0,
          permissions: [],

          pending: false,

          hasError: {
            responses: false,
            command: false
          },

          psocket: io('/core/permissions', { query: "token=" + token }),
          socket: io('/systems/customcommands', { query: "token=" + token }),

          states: {
            save: 0,
            delete: 0
          }
        },
        created() {
          this.psocket.emit('find', {}, (err, data) => {
            if (err) return console.error(err)
            this.permissions = _.orderBy(data, 'order', 'asc')

            if (!commons.urlParam('id')) {
              for (let r of this.responses) {
                if (!r.permission) {
                  r.permission = _.orderBy(this.permissions, 'order', 'asc').pop().id
                }
              }
            }
          });
        },
        methods: {
          getPermissionName: function (id) {
            if (!id) return 'Disabled'
            const permission = this.permissions.find((o) => {
              return o.id === id
            })
            if (typeof permission !== 'undefined') {
              if (permission.name.trim() === '') {
                return permission.id
              } else {
                return permission.name
              }
            } else {
              return null
            }
          },
          moveUpResponse: function (order) {
            this.responses.filter((o) => o.order === order - 1 || o.order === order).map(o => {
              if (o.order === order - 1) o.order++
              else o.order--
              return o
            })
          },
          moveDownResponse: function (order) {
            this.responses.filter((o) => o.order === order + 1 || o.order === order).map(o => {
              if (o.order === order + 1) o.order--
              else o.order++
              return o
            })
          },
          deleteResponse: function (order) {
            let i = 0
            this.responses = this.responses.filter(o => o.order !== order)
            _.orderBy(this.responses, 'order', 'asc').map((o) => {
              o.order = i++
              return o
            })
          },
          resetCount: function () {
            this.count = 0
            this.pending = true
          },
          validateForm: function () {
            // reset errors
            for (let [key, value] of Object.entries(this.hasError)) {
              this.hasError[key] = false
            }
            for (let r of this.responses) if (r.response.length === 0) this.hasError.responses = true
            if (this.command.trim().length <= 1) this.hasError.command = true
            return _.filter(this.hasError, (o) => o === true).length === 0
          },
          deleteItem: function () {
            this.socket.emit('delete', {_id: this.id}, () => {
              page('/#customcommands/list')
            })
          },
          saveChanges: function () {
            if (this.validateForm()) {
              this.states.save = 1
              const data = {
                _id: this.id,
                responses: this.responses,
                command: this.command.trim(),
                visible: this.visible,
                enabled: this.enabled,
                count: this.count
              }
              this.socket.emit('update.command', {items: [data]}, (err, data) => {
                if (err) {
                  console.error(err)
                  return this.states.save = 3
                }
                this.states.save = 2
                this.pending = false
                this.id = String(data.command._id)
                this.responses = data.responses
                page('?id=' + this.id + '#customcommands/edit')
                setTimeout(() => this.states.save = 0, 1000)
              })
            }
          },
        },
        watch: {
          enabled: function (val, old) {
            this.pending = true
          },
          visible: function (val, old) {
            this.pending = true
          },
          response: function (val, old) {
            this.pending = true
          },
          command: function (val, old) {
            if (!val.startsWith('!')) this.command = `!${val}`
            this.pending = true
          }
        },
        computed: {
          isEditation: function () {
            return !_.isNil(this.id)
          },
          title: function () {
            return commons.translate(this.isEditation ? 'dialog.title.edit' : 'dialog.title.add') +
              ' ' + commons.translate('systems.customcommands.command.name')
          }
        },
        filters: {
          capitalize: function (value) {
            if (!value) return ''
            value = value.toString()
            return value.charAt(0).toUpperCase() + value.slice(1)
          },
        }
      })

      // load up from db
      if (commons.urlParam('id')) {
        customCommandsEdit.id = commons.urlParam('id')
        customCommandsEdit.socket.emit('findOne.command', { where: { _id: commons.urlParam('id') } }, (err, data) => {
          // add empty filter if undefined
          for (let i = 0, length = data.responses.length; i < length; i++) {
            if (!data.responses[i].filter) data.responses[i].filter = ''
          }
          customCommandsEdit.responses = data.responses

          customCommandsEdit.command = data.command
          customCommandsEdit.visible = data.visible
          customCommandsEdit.enabled = data.enabled
          customCommandsEdit.count = data.count
          customCommandsEdit.$nextTick(() => { customCommandsEdit.pending = false })
        })
      }
    }
    customCommandsEditInit()
  </script>