<div id="systemCustomCommandsApp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span data-lang="menu.customcommands" class="title text-default"></span>

        <div class="pt-3 pb-3 mt-3 mb-3 m-0 border-top border-bottom row">
          <div class="col-sm-6">
            <a class="btn btn-primary" href="#customcommands/edit"><i class="fas fa-plus"></i> {{ commons.translate('systems.customcommands.new') }}</a>
          </div>
          <div class="col-sm-6 text-right form-inline d-block">
            <button class="btn border-0" v-on:click="showAs='cards'" v-bind:class="[ showAs === 'cards' ? 'btn-dark' : 'btn-outline-dark' ]"><i class="fas fa-th-large"></i></button>
            <button class="btn border-0" v-on:click="showAs='table'" v-bind:class="[ showAs === 'table' ? 'btn-dark' : 'btn-outline-dark' ]"><i class="fas fa-th-list"></i></button>
            <i class="fas fa-search text-muted" style="position: relative; left: 2.2rem;"></i>
            <input type="search" class="form-control w-auto pl-5" v-model="search" placeholder="Search...">
          </div>
        </div>

        <div v-if="showAs === 'cards' && commandsFiltered.length > 0" class="card" v-for="(command, index) of commandsFiltered" v-bind:class="{ 'mt-3': index !== 0 }">
          <div class="card-body row"  v-bind:style="{ opacity: !command.visible ? 0.6 : 1 }">
            <div class="col-sm-5">
              <div style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 3px;">{{commons.translate('command')}}</div>
              <div class="font-weight-bold  text-primary" style="font-size: 1.5rem">{{ command.command }}</div>
            </div>

            <div class="text-muted col-sm-1 text-center" style="margin-top: auto; margin-bottom: auto;font-size: 1.5rem">
              <span class="fa-stack">
                <i class="fas fa-terminal fa-stack-1x"></i>
                <i v-if="!command.enabled" class="fas fa-times fa-stack-2x" style="color:Tomato; opacity: 0.7"></i>
              </span>
            </div>

            <div style="word-break: break-all; " class="col-sm-6">
              <template v-for="(r, i) of _.orderBy(command.responses, 'order', 'asc')">
                <div :style="{ 'margin-top': i !== 0 ? '15px' : 'inherit' }" style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 3px">
                  <span style="display: inline-block">
                    {{commons.translate('response')}}#{{i + 1}}
                  </span>

                  <span style="display: inline-block">
                    <button data-toggle="dropdown" class="btn btn-outline-dark border-0" style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;"><i class="fas fa-key mr-1" aria-hidden="true"></i>
                      <span v-if="getPermissionName(r.permission)">{{ getPermissionName(r.permission) }}</span>
                      <span v-else class="text-danger"><i class="fas fa-exclamation-triangle"></i> Permission not found</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="permissionsMenuButton">
                      <a class="dropdown-item"
                          style="cursor: pointer"
                          v-for="p of permissions"
                          :key="p.id"
                          @click="updatePermission(command._id, r._id, p.id)">{{ getPermissionName(p.id) | capitalize }}</a>
                    </div>
                  </span>

                  <span style="display: inline-block">
                    <button data-toggle="dropdown" class="btn btn-outline-dark border-0 h-100 w-100" style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">
                      <i class="fas mr-1" :class="[r.stopIfExecuted ? 'fa-stop' : 'fa-play']" aria-hidden="true"></i>
                      {{ commons.translate(r.stopIfExecuted ? 'commons.stop-if-executed' : 'commons.continue-if-executed') | capitalize }}</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" style="cursor: pointer" v-on:click="updateStopIfExecuted(command._id, r._id, true)">{{ commons.translate('commons.stop-if-executed') | capitalize }}</a>
                      <a class="dropdown-item" style="cursor: pointer" v-on:click="updateStopIfExecuted(command._id, r._id, false)">{{ commons.translate('commons.continue-if-executed') | capitalize }}</a>
                    </div>
                  </span>
                </div>
                <text-with-tags v-if='r.filter' v-bind:value='r.filter' style="font-size: .8rem;border: 1px dashed #eee; display: inline-block;padding: 0.1rem; padding-left: 0.3rem; padding-right: 0.3rem;"></text-with-tags>
                <text-with-tags v-bind:value='r.response' style="display: inline-block"></text-with-tags>
              </template>
            </div>
          </div>

          <div class="card-body border-top p-0">
            <div class="row">
              <div class="col-6">
                <span class="p-3" style="position: relative; top: 15px; margin: 0; font-size: 14px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px;">
                    <i class="fas fa-terminal"></i>
                    {{ command.count }}
                </span>
              </div>
              <div class="col-6 text-right">
                <div class="btn-group" role="group">
                  <a v-bind:href="'?id='+ command._id + '#customcommands/edit'" class="btn btn-outline-dark p-3 border-0"><i class="fas fa-pencil-alt mr-1" aria-hidden="true"></i> {{ commons.translate('dialog.buttons.edit') }}</a>
                  <button v-on:click="command.visible = !command.visible; sendUpdate(command._id)" class="btn btn-outline-dark p-3 border-0"><i class="fas mr-1" v-bind:class="[ command.visible ? 'fa-eye' : 'fa-eye-slash' ]" aria-hidden="true"></i> {{ (command.visible ? commons.translate('visible') : commons.translate('hidden')) | capitalize }}</button>
                  <button v-on:click="command.enabled = !command.enabled; sendUpdate(command._id)"  class="btn btn-outline-dark p-3 border-0"><i class="fas mr-1"  v-bind:class="[ command.enabled ? 'fa-toggle-on' : 'fa-toggle-off' ]" aria-hidden="true"></i> {{ command.enabled ? commons.translate('enabled') : commons.translate('disabled') }}</button>
                  <hold-button class="btn-outline-dark p-3 border-0" @trigger="deleteCommand(command._id)" :holdtitle="commons.translate('dialog.buttons.hold-to-delete')" :title="commons.translate('dialog.buttons.delete')" icon="fa-trash"></hold-button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="widget h-auto" v-if="showAs === 'table' && commandsFiltered.length > 0" style="overflow-x:initial;">
          <div class="row p-2 m-0 border-bottom">
            <div class="col-md-1"><strong>{{ commons.translate('command') }}</strong></div>
            <div class="col-md-1 text-center"><strong>{{ commons.translate('count') | capitalize }}</strong></div>
            <div class="col-md-9"><strong>{{ commons.translate('response') }}</strong></div>
          </div>
          <div class="row p-2 m-0 border-bottom" v-for="(command, index) of commandsFiltered">
            <div class="col-md-1" v-bind:style="{ opacity: !command.visible ? 0.6 : 1 }">{{ command.command }}
                <div style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 3px;">{{ command.permission | permissionToString }}</div>
            </div>
            <div class="col-md-1 text-center" style="word-break: break-word" v-bind:style="{ opacity: !command.visible ? 0.6 : 1 }">
              {{ command.count }}
            </div>
            <div class="col-md-8" style="word-break: break-word" v-bind:style="{ opacity: !command.visible ? 0.6 : 1 }">
              <template v-for="(r, i) of _.orderBy(command.responses, 'order', 'asc')">
                <div :style="{ 'margin-top': i !== 0 ? '15px' : 'inherit' }" style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; margin-bottom: -3px;">
                  <span style="display: inline-block">
                    {{commons.translate('response')}}#{{i + 1}}
                  </span>

                  <span style="display: inline-block">
                    <button data-toggle="dropdown" class="btn btn-outline-dark border-0" style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;"><i class="fas fa-key mr-1" aria-hidden="true"></i>
                      <span v-if="getPermissionName(r.permission)">{{ getPermissionName(r.permission) }}</span>
                      <span v-else class="text-danger"><i class="fas fa-exclamation-triangle"></i> Permission not found</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="permissionsMenuButton">
                      <a class="dropdown-item"
                          style="cursor: pointer"
                          v-for="p of permissions"
                          :key="p.id"
                          @click="updatePermission(command._id, r._id, p.id)">{{ getPermissionName(p.id) | capitalize }}</a>
                    </div>
                  </span>

                  <span style="display: inline-block">
                    <button data-toggle="dropdown" class="btn btn-outline-dark border-0 h-100 w-100" style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">
                      <i class="fas mr-1" :class="[r.stopIfExecuted ? 'fa-stop' : 'fa-play']" aria-hidden="true"></i>
                      {{ commons.translate(r.stopIfExecuted ? 'commons.stop-if-executed' : 'commons.continue-if-executed') | capitalize }}</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" style="cursor: pointer" v-on:click="updateStopIfExecuted(command._id, r._id, true)">{{ commons.translate('commons.stop-if-executed') | capitalize }}</a>
                      <a class="dropdown-item" style="cursor: pointer" v-on:click="updateStopIfExecuted(command._id, r._id, false)">{{ commons.translate('commons.continue-if-executed') | capitalize }}</a>
                    </div>
                  </span>
                </div>
                <text-with-tags v-if='r.filter' v-bind:value='r.filter' style="font-size: .8rem;border: 1px dashed #eee; display: inline-block;padding: 0.1rem; padding-left: 0.3rem; padding-right: 0.3rem;"></text-with-tags>
                <text-with-tags v-bind:value='r.response' style="display: inline-block"></text-with-tags>
            </template>
            </div>
            <div class="col-md-2">
              <div class="p-0 text-right">
                <a v-bind:href="'?id='+ command._id + '#customcommands/edit'" v-bind:title="commons.translate('dialog.buttons.edit')" class="btn btn-outline-dark p-1 border-0"><i class="fas fa-pencil-alt m-1" aria-hidden="true"></i></a>
                <button v-bind:title="(command.visible ? commons.translate('visible') : commons.translate('hidden'))" v-on:click="command.visible = !command.visible; sendUpdate(command._id)" class="btn btn-outline-dark p-1 border-0"><i class="fas m-1" v-bind:class="[ command.visible ? 'fa-eye' : 'fa-eye-slash' ]" aria-hidden="true"></i></button>
                <button v-bind:title="command.enabled ? commons.translate('enabled') : commons.translate('disabled')" v-on:click="command.enabled = !command.enabled; sendUpdate(command._id)"  class="btn btn-outline-dark p-1 border-0"><i class="fas m-1"  v-bind:class="[ command.enabled ? 'fa-toggle-on' : 'fa-toggle-off' ]" aria-hidden="true"></i></button>
                <hold-button class="btn-outline-dark p-1 border-0" @trigger="deleteCommand(command._id)" holdtitle="" title="" icon="fa-trash m-1"></hold-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.prototype.commons = commons

  function commandInit () {
    if (_.size(translations) === 0) return setTimeout(() => commandInit(), 1)
    var systemCustomCommandsApp = new Vue({
      el: '#systemCustomCommandsApp',
      components: {
        'toggle': toggleEnable,
        'command-input': commandInput,
        'text-with-tags': textWithTags,
        'hold-button': holdButton
      },
      data: {
        showAs: 'cards',
        search: '',

        commands: [],
        permissions: [],

        changed: [],
        isDataChanged: false,

        state: {
          settings: 0
        },
        psocket: io('/core/permissions', { query: "token=" + token }),
        socket: io('/systems/customcommands', { query: "token=" + token }),
      },
      computed: {
        commandsFiltered: function () {
          if (this.search.length === 0) return this.commands
          return this.commands.filter((o) => {
            const isSearchInCommand = !_.isNil(o.command.match(new RegExp(this.search, 'ig')))
            const isSearchInResponse = o.responses.filter(o => {
              return !_.isNil(o.response.match(new RegExp(this.search, 'ig')))
            }).length > 0
            return isSearchInCommand || isSearchInResponse
          })
        }
      },
      created: function () {
        this.psocket.emit('find', {}, (err, data) => {
          if (err) return console.error(err)
          this.permissions = _.orderBy(data, 'order', 'asc')
        })
        this.socket.emit('find.commands', {}, (err, items) => {
          this.commands = _.orderBy(items, 'command', 'asc')
        })

        if (localStorage.getItem('/systems/CustomCommands/showAs')) this.showAs = JSON.parse(localStorage.getItem('/systems/CustomCommands/showAs'));
      },
      watch: {
        showAs: function(val) {
          localStorage.setItem('/systems/CustomCommands/showAs', JSON.stringify(this.showAs))
        }
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        },
        onlyCommand: function (val) {
          return val.split(' ')[0]
        },
      },
      methods: {
        getPermissionName: function (id) {
          if (!id) return 'Disabled'
          const permission = this.permissions.find((o) => {
            return o.id === id
          })
          if (typeof permission !== 'undefined') {
            if (permission.name.trim() === '') {
              return permission.id
            } else {
              return permission.name
            }
          } else {
            return null
          }
        },
        updatePermission: function (cid, rid, permission) {
          let command = this.commands.filter((o) => o._id === cid)[0]
          let response = command.responses.filter((o) => o._id === rid)[0]
          response.permission = permission
          this.socket.emit('update.command', {items: [command]})
        },
        updateStopIfExecuted: function (cid, rid, stopIfExecuted) {
          let command = this.commands.filter((o) => o._id === cid)[0]
          let response = command.responses.filter((o) => o._id === rid)[0]
          response.stopIfExecuted = stopIfExecuted
          this.socket.emit('update.command', {items: [command]})
        },
        deleteCommand: function (id) {
          this.socket.emit('delete', {_id: id}, () => {
            this.commands = this.commands.filter((o) => o._id !== id)
          })
        },
        sendUpdate: function (_id) {
          this.socket.emit('update.command', {items: this.commands.filter((o) => o._id === _id)})
        }
      }
    })
  }
  commandInit()
</script>
