<div id="systemSongsBanlistApp">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <span data-lang="menu.bannedsongs" class="title text-default"></span>

            <div class="pt-3 pb-3 mt-3 mb-3 m-0 border-top border-bottom row">
              <div class="col-sm-8">
                <div class="form-inline">
                  <input type="search" class="form-control w-auto col-6" v-model="toAdd" placeholder="Paste your youtube link, id">

                  <button v-if="state.import == 0" class="btn btn-primary mr-2" v-on:click="addSongOrPlaylist()"><i class="fas fa-plus"></i> {{ commons.translate('systems.songs.add_song') }}</button>
                  <button v-else-if="state.import == 1" class="btn btn-info mr-2" disabled="disabled"><i class="fas fa-circle-notch fa-spin"></i> {{ commons.translate('systems.songs.importing') }}</button>
                  <button v-else class="btn btn-success mr-2" disabled="disabled"><i class="fas fa-check"></i> {{ commons.translate('systems.songs.importing_done') }}</button>

                  <span class="text-info">{{ importInfo }}</span>
                </div>
              </div>
              <div class="col-sm-4 text-right form-inline d-block">
                <button class="btn btn-dark border-0"><i class="fas fa-th-list"></i></button>
                <i class="fas fa-search text-muted" style="position: relative; left: 2.2rem;"></i>
                <input type="search" class="form-control w-auto pl-5" v-model="search" placeholder="Search...">
              </div>
            </div>

            <div v-if="filtered.length > 0" class="card" v-for="(item, index) of filtered" v-bind:class="{ 'mt-1': index !== 0 }">
              <div class="card-body row p-0">
                <div class="col-sm-11 pr-0">
                  <a class="btn btn-block btn-outline-dark border-0 h-100 text-left p-0" target="_blank" v-bind:href="'https://www.youtube.com/watch?v=' + item.videoId">
                    <img class="float-left pr-3" v-bind:src="generateThumbnail(item.videoId)">
                    <div style="padding-top:2rem !important">
                      {{ item.title }}
                    </div>
                  </a>
                </div>

                <div class="col-sm-1 pl-0">
                  <button data-toggle="dropdown" class="btn btn-block btn-outline-dark border-0 h-100"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu p-0">
                      <button class="dropdown-item p-2 pl-4 pr-4" style="cursor: pointer" v-on:click="deleteItem(item._id)"><i class="fas fa-trash-alt fa-fw"></i> {{ commons.translate('delete') }}</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<script>
  Vue.prototype.commons = commons

  function songsBanlistInit () {
    if (_.size(translations) === 0) return setTimeout(() => songsBanlistInit(), 1)
    var systemSongsBanlistApp = new Vue({
      el: '#systemSongsBanlistApp',
      components: {
        'toggle': toggleEnable,
        'command-input': commandInput,
        'text-with-tags': textWithTags
      },
      data: {
        showAs: 'cards',
        search: '',
        toAdd: '',
        importInfo: '',

        items: [],

        isDataChanged: false,

        state: {
          import: 0,
        },
        socket: io('/systems/songs', { query: "token=" + token }),
      },
      computed: {
        filtered: function () {
          if (this.search.length === 0) return this.items
          return this.items.filter((o) => {
            const isSearchInTitle = !_.isNil(o.title.match(new RegExp(this.search, 'ig')))
            return isSearchInTitle
          })
        }
      },
      created: function () {
        this.refreshBanlist()
        if (localStorage.getItem('/systems/Songs/bannedsongs/showAs')) this.showAs = JSON.parse(localStorage.getItem('/systems/Songs/bannedsongs/showAs'));
      },
      watch: {
        showAs: function(val) {
          localStorage.setItem('/systems/Songs/bannedsongs/showAs', JSON.stringify(this.showAs))
        }
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        },
        formatTime: function (seconds) {
          const h = Math.floor(seconds / 3600);
          const m = Math.floor((seconds % 3600) / 60);
          const s = seconds % 60;
          return [
            h,
            m > 9 ? m : (h ? '0' + m : m || '0'),
            s > 9 ? s : '0' + s,
          ].filter(a => a).join(':');
        }
      },
      methods: {
        refreshBanlist: function () {
          this.socket.emit('find.ban', {}, (err, items) => {
            this.items = items
          })
        },
        generateThumbnail: function (videoId) {
          return `https://img.youtube.com/vi/${videoId}/1.jpg`
        },
        addSongOrPlaylist: function () {
          this.state.import = 1
          this.socket.emit('import.ban', this.toAdd, (err, info) => {
            this.state.import = 2
            this.refreshBanlist()
            this.toAdd = ''
            this.showImportInfo(info)
          })
        },
        showImportInfo(info) {
          this.importInfo = `Banned: ${info.banned}`
          setTimeout(() => {
            this.importInfo = ''
            this.state.import = 0
          }, 5000)
        },
        deleteItem: function (id) {
          this.socket.emit('delete.ban', id, () => {
            this.items = this.items.filter((o) => o._id !== id)
          })
        }
      }
    })
  }
  songsBanlistInit()
</script>
