<div id="systemTimersApp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span data-lang="menu.timers" class="title text-default"></span>

        <div class="pt-3 pb-3 mt-3 mb-3 m-0 border-top border-bottom row">
          <div class="col-sm-6">
            <a class="btn btn-primary" href="#timers/edit"><i class="fas fa-plus"></i> {{ commons.translate('systems.timers.new') }}</a>
          </div>
          <div class="col-sm-6 text-right form-inline d-block">
            <button class="btn border-0" v-on:click="showAs='cards'" v-bind:class="[ showAs === 'cards' ? 'btn-dark' : 'btn-outline-dark' ]"><i class="fas fa-th-large"></i></button>
            <button class="btn border-0" v-on:click="showAs='table'" v-bind:class="[ showAs === 'table' ? 'btn-dark' : 'btn-outline-dark' ]"><i class="fas fa-th-list"></i></button>
            <i class="fas fa-search text-muted" style="position: relative; left: 2.2rem;"></i>
            <input type="search" class="form-control w-auto pl-5" v-model="search" placeholder="Search...">
          </div>
        </div>

        <div v-if="showAs === 'cards' && filtered.length > 0" class="card" v-for="(item, index) of filtered" v-bind:class="{ 'mt-3': index !== 0 }">
          <div class="card-body row">
            <div class="col-sm-5">
              <div style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 3px;">{{commons.translate('name')}}</div>
              <div class="font-weight-bold  text-primary" style="font-size: 1.5rem">{{ item.name }}</div>
            </div>

            <div class="text-muted col-sm-1 text-center" style="margin-top: auto; margin-bottom: auto;font-size: 1.5rem">
              <span class="fa-stack">
                <i class="fas fa-stopwatch fa-stack-1x"></i>
                <i v-if="!item.enabled" class="fas fa-times fa-stack-2x" style="color:Tomato; opacity: 0.7"></i>
              </span>
            </div>

            <div style="word-break: break-all; " class="col-sm-3">
              <div style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 3px;">{{commons.translate('settings')}}</div>
              <div><span class="font-weight-bold text-primary" style="font-size: 1.5rem">{{ item.messages }}</span> {{commons.translate('messages').toLowerCase()}}</div>
              <div><span class="font-weight-bold text-primary" style="font-size: 1.5rem">{{ item.seconds }}</span> {{commons.translate('seconds').toLowerCase()}}</div>
            </div>

            <div style="word-break: break-all; " class="col-sm-3">
              <div style="margin: 0; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 3px;">{{commons.translate('timers.dialog.responses')}}</div>
              <div><span class="font-weight-bold text-primary" style="font-size: 1.5rem">{{ items.responses.filter(o => o.timerId === item._id && o.enabled).length }}</span> {{commons.translate('enabled').toLowerCase()}}</div>
              <div><span class="font-weight-bold text-primary" style="font-size: 1.5rem">{{ items.responses.filter(o => o.timerId === item._id && !o.enabled).length }}</span> {{commons.translate('disabled').toLowerCase()}}</div>
            </div>
          </div>

          <div class="card-body border-top p-0 text-right">
            <div class="btn-group" role="group">
              <a v-bind:href="'?id='+ item._id + '#timers/edit'" class="btn btn-outline-dark p-3 border-0"><i class="fas fa-pencil-alt mr-1" aria-hidden="true"></i> {{ commons.translate('dialog.buttons.edit') }}</a>
              <button v-on:click="item.enabled = !item.enabled; updateItem(item._id)"  class="btn btn-outline-dark p-3 border-0"><i class="fas mr-1"  v-bind:class="[ item.enabled ? 'fa-toggle-on' : 'fa-toggle-off' ]" aria-hidden="true"></i> {{ item.enabled ? commons.translate('enabled') : commons.translate('disabled') }}</button>
              <hold-button class="btn-outline-dark p-3 border-0" @trigger="deleteItem(item._id)" :holdtitle="commons.translate('dialog.buttons.hold-to-delete')" :title="commons.translate('dialog.buttons.delete')" icon="fa-trash"></hold-button>
            </div>
          </div>
        </div>

        <div class="widget h-auto" v-if="showAs === 'table' && filtered.length > 0">
          <div class="row p-2 m-0 border-bottom">
            <div class="col-md-2"><strong>{{ commons.translate('name') }}</strong></div>
            <div class="col-md-4"><strong>{{ commons.translate('settings') }}</strong></div>
            <div class="col-md-4"><strong>{{ commons.translate('timers.dialog.responses') }}</strong></div>
          </div>
          <div class="row p-2 m-0 border-bottom" v-for="(item, index) of filtered">
            <div class="col-md-2">{{ item.name }}</div>
            <div class="col-md-4">
              <span class="font-weight-bold text-primary">{{ item.messages }}</span> {{commons.translate('messages').toLowerCase()}},
              <span class="font-weight-bold text-primary">{{ item.seconds }}</span> {{commons.translate('seconds').toLowerCase()}}
            </div>
            <div class="col-md-4">
                <span class="font-weight-bold text-primary">{{ items.responses.filter(o => o.timerId === item._id && o.enabled).length }}</span> {{commons.translate('enabled').toLowerCase()}},
                <span class="font-weight-bold text-primary">{{ items.responses.filter(o => o.timerId === item._id && !o.enabled).length }}</span> {{commons.translate('disabled').toLowerCase()}}
            </div>
            <div class="col-md-2">
              <div class="p-0 text-right">
                <a v-bind:href="'?id='+ item._id + '#timers/edit'" v-bind:title="commons.translate('dialog.buttons.edit')" class="btn btn-outline-dark p-1 border-0"><i class="fas fa-pencil-alt m-1" aria-hidden="true"></i></a>
                <button v-bind:title="item.enabled ? commons.translate('enabled') : commons.translate('disabled')" v-on:click="item.enabled = !item.enabled; updateItem(item._id)"  class="btn btn-outline-dark p-1 border-0"><i class="fas m-1"  v-bind:class="[ item.enabled ? 'fa-toggle-on' : 'fa-toggle-off' ]" aria-hidden="true"></i></button>
                <hold-button class="btn-outline-dark p-1 border-0" @trigger="deleteItem(item._id)" holdtitle="" title="" icon="fa-trash m-1"></hold-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.prototype.commons = commons

  function timersInit () {
    if (_.size(translations) === 0) return setTimeout(() => timersInit(), 1)
    var systemTimersApp = new Vue({
      el: '#systemTimersApp',
      components: {
        'toggle': toggleEnable,
        'command-input': commandInput,
        'text-with-tags': textWithTags,
        'hold-button': holdButton
      },
      data: {
        showAs: 'cards',
        search: '',

        items: { timers: [], responses: [] },

        isDataChanged: false,

        state: {
          settings: 0
        },
        socket: io('/systems/timers', { query: "token=" + token }),
      },
      computed: {
        filtered: function () {
          if (this.search.length === 0) return this.items.timers
          return this.items.timers.filter((o) => {
            const isSearchInName = !_.isNil(o.name.match(new RegExp(this.search, 'ig')))
            return isSearchInName
          })
        }
      },
      created: function () {
        this.socket.emit('find.timers', (err, items) => {
          this.items.timers = _.orderBy(items.timers, 'name', 'asc')
          this.items.responses = items.responses
        })
        if (localStorage.getItem('/systems/Timers/showAs')) this.showAs = JSON.parse(localStorage.getItem('/systems/Timers/showAs'));
      },
      watch: {
        showAs: function(val) {
          localStorage.setItem('/systems/Timers/showAs', JSON.stringify(this.showAs))
        }
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        }
      },
      methods: {
        updateItem: function (_id) {
          this.socket.emit('update', { items: this.items.timers.filter((o) => o._id === _id) })
        },
        deleteItem: function (id) {
          this.socket.emit('delete.timer', id, () => {
            this.items.timers = this.items.timers.filter((o) => o._id !== id)
          })
        }
      }
    })
  }
  timersInit()
</script>
