<span data-lang="menu.custom-variables" class="title text-default"></span>
<a class="btn btn-success float-right" href="/#registry/customVariables/edit" data-lang="dialog.title.add"></a>

<div class="widget" id="customVariables-table">
  <div class="alert alert-danger mb-0" role="alert" v-if="!variables || variables.length === 0">{{ commons.translate('registry.customvariables.no-variables-found') }}</div>
  <table class="table table-striped" v-if="variables && variables.length > 0">
    <thead>
      <tr>
        <th scope="col" class="p-3">$_</th>
        <th scope="col" class="p-3">{{ commons.translate('registry.customvariables.description.name') }}</th>
        <th scope="col" class="p-3">{{ commons.translate('registry.customvariables.type.name') }}</th>
        <th scope="col" class="p-3">{{ commons.translate('registry.customvariables.currentValue.name') }}</th>
        <th scope="col" class="p-3">{{ commons.translate('registry.customvariables.additional-info') }}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="variable of variables">
        <td style="font-size: 1.2rem;">{{ variable.variableName }}</td>
        <td v-bind:class="{ 'text-muted': !variable.description || variable.description.length === 0 }">
          {{ variable.description && variable.description.length !== 0 ? variable.description : commons.translate('not-available') }}
        </td>
        <td style="font-size: 1.2rem;">{{ commons.translate('registry.customvariables.types.' + variable.type) }}</td>
        <td v-bind:class="{ 'text-muted': !variable.currentValue || variable.currentValue.length === 0 }">{{ variable.currentValue && variable.currentValue.length !== 0 ? variable.currentValue : commons.translate('not-available') }}</td>
        <td>
          <span v-if="variable.type === 'eval'">
            <strong>{{ commons.translate('registry.customvariables.run-script') }}:</strong>
            <template v-if="variable.runEveryTypeValue > 0">
              {{ variable.runEvery / variable.runEveryTypeValue }} {{ commons.translate('registry.customvariables.runEvery.' + variable.runEveryType) }}
            </template>
            <template v-else>
              {{ commons.translate('registry.customvariables.runEvery.' + variable.runEveryType) }}
            </template>
            <div>
              {{ commons.translate('registry.customvariables.last-run') }} <strong>{{ variable.runAt ? new Date(variable.runAt).toLocaleString() : commons.translate('commons.never') }}</strong>
            </div>
          </span>
          <span v-if="variable.type === 'options'">
            <strong>{{ commons.translate('registry.customvariables.usableOptions.name') }}:</strong>
            {{ variable.usableOptions }}
          </span>
          <div v-if="variable.readOnly">
            <strong>{{ commons.translate('registry.customvariables.isReadOnly') | capitalize }}</strong>
          </div>

          <div>
            <strong>{{ commons.translate('registry.customvariables.response.name') }}:</strong>
            <span v-if="variable.responseType === 0">{{ commons.translate('registry.customvariables.response.default') }}</span>
            <span v-if="variable.responseType === 1">{{ commons.translate('registry.customvariables.response.custom') }}</span>
            <span v-if="variable.responseType === 2">{{ commons.translate('registry.customvariables.response.command') }}</span>
            <i v-if="variable.responseType === 1">{{ variable.responseText }}</i>
          </div>
          <div>
            <strong> {{ commons.translate('registry.customvariables.permissionToChange') }}:</strong>
            <span v-if="getPermissionName(variable.permission)">{{ getPermissionName(variable.permission) }}</span>
            <span v-else class="text-danger"><i class="fas fa-exclamation-triangle"></i> Permission not found</span>
          </div>
        </td>
        <td>
          <a v-bind:href="'?id='+ variable._id + '#registry/customVariables/edit'" class="btn btn-primary btn-block"><i class="far fa-edit"></i> {{ commons.translate('dialog.buttons.edit') }}</a>
          <button v-if="variable.type === 'eval'" v-on:click="debouncedRunScript(variable._id)" class="btn btn-secondary btn-block"><i class="fas fa-cog"></i> {{ commons.translate('registry.customvariables.run-script') }}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  Vue.prototype.commons = commons

  function customVariablesInit () {
    if (_.size(translations) === 0) return setTimeout(() => customVariablesInit(), 1)
    var customVariablesTable = new Vue({
      el: '#customVariables-table',
      data: {
        variables: {},
        permissions: [],

        psocket: io('/core/permissions', { query: "token=" + token }),
        socket: io('/registry/customVariables', { query: "token=" + token }),
      },
      methods: {
        getPermissionName: function (id) {
          if (!id) return null
          const permission = this.permissions.find((o) => {
            return o.id === id
          })
          if (typeof permission !== 'undefined') {
            if (permission.name.trim() === '') {
              return permission.id
            } else {
              return permission.name
            }
          } else {
            return null
          }
        },
        runScript: function (id) {
          this.socket.emit('run.script', id, (err, item) => {
            // update variable data
            let variable = this.variables.filter((o) => o._id === id)[0]
            variable.currentValue = item.currentValue
            variable.runAt = item.runAt
          })
        }
      },
      created: function () {
        // _.debounce is a function provided by lodash to limit how
        // often a particularly expensive operation can be run.
        // In this case, we want to limit how often we access
        // yesno.wtf/api, waiting until the user has completely
        // finished typing before making the ajax request. To learn
        // more about the _.debounce function (and its cousin
        // _.throttle), visit: https://lodash.com/docs#debounce
        this.debouncedRunScript =_.debounce(this.runScript, 1000)

        this.psocket.emit('find', {}, (err, data) => {
          if (err) return console.error(err)
          this.permissions = _.orderBy(data, 'order', 'asc')
        })
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        }
      }
    })
    customVariablesTable.socket.emit('list.variables', (err, data) => {
      customVariablesTable.variables = data
    })

  }
  customVariablesInit()
</script>