<div id="apiStatsApp" ref="window">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span class="title text-default mb-2">
          <span data-lang="menu.logs"></span>
          <small><i class="fas fa-angle-right"></i></small>
          <span data-lang="menu.api"></span>
        </span>

        <div class="pt-3 pb-3 mt-3 mb-3 m-0 border-top border-bottom row">
          <div class="col-sm-6">
            <div class="btn-group">
              <button class="btn border-0"
                :class="[selected === 'helix' ? 'btn-primary' : 'btn-outline-primary']"
                @click="selected = 'helix'">HELIX <small>({{ data.filter(o => o.api === 'helix').length }})</small></button>
              <button class="btn border-0"
                :class="[selected === 'kraken' ? 'btn-primary' : 'btn-outline-primary']"
                @click="selected = 'kraken'">KRAKEN <small>({{ data.filter(o => o.api === 'kraken').length }})</small></button>
              <button class="btn border-0"
                :class="[selected === 'tmi' ? 'btn-primary' : 'btn-outline-primary']"
                @click="selected = 'tmi'">TMI <small>({{ data.filter(o => o.api === 'tmi').length }})</small></button>
              <button class="btn border-0"
                :class="[selected === 'unofficial' ? 'btn-primary' : 'btn-outline-primary']"
                @click="selected = 'unofficial'">UNOFFICIAL <small>({{ data.filter(o => o.api === 'unofficial').length }})</small></button>
            </div>
          </div>
        </div>

        <div v-if="selectedData.length === 0" class="alert alert-info">
          <i class="fas fa-circle-notch fa-spin"></i>
          Waiting for api requests
        </div>
        <template v-else>
          <area-chart :data="graphData"></area-chart>
          <table class="table table-hover">
          <thead class="thead-dark">
              <tr>
                <th scope="col">time</th>
                <th scope="col">call</th>
                <th scope="col">endpoint</th>
                <th scope="col">status</th>
                <th scope="col">remaining API calls</th>
                <th scope="col">data</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) of selectedData" :key="index"
                  :class="{'bg-danger': !String(item.code).startsWith('2'), 'text-light': !String(item.code).startsWith('2') }">
                <th scope="row">{{ moment(item.timestamp).format('LTS') }}</th>
                <td>{{ item.call }}</td>
                <td><div style="word-wrap: break-word; font-family: Monospace; width: 200px;">{{ item.endpoint }}</div></td>
                <td>{{ item.code }}</td>
                <td>{{ item.remaining }}</td>
                <td>
                  <div style="word-wrap: break-word; font-family: Monospace; width: 100%;">
                    {{ parseJSON(item.data) }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </template>
      </div>
    </div>
  </div>
</div>



<script>
  Vue.prototype.commons = commons

  Vue.use(VueChartkick)

  function apiStatsAppInit () {
    if (_.size(translations) === 0) return setTimeout(() => apiStatsAppInit(), 1)
    var apiStatsApp = new Vue({
      el: '#apiStatsApp',
      data: {
        selected: 'helix',
        data: []
      },
      computed: {
        selectedData: function () {
          return this.data.filter(o => o.api === this.selected).sort((a, b) => b.timestamp - a.timestamp)
        },
        graphData: function () {
          let success = this.data.filter(o => o.api === this.selected && String(o.code).startsWith('2'))
          let errors = this.data.filter(o => o.api === this.selected && !String(o.code).startsWith('2'))

          let successPerMinute = {}
          let _successPerMinute  =_.groupBy(success, o => {
            return (new Date(o.timestamp)).getHours() + ':' + (new Date(o.timestamp)).getMinutes()
          })
          for (let minute of Object.keys(_successPerMinute)) {
            let timestamp = String(new Date(_successPerMinute[minute][0].timestamp))
            successPerMinute[timestamp] = _successPerMinute[minute].length
          }

          let errorsPerMinute = {}
          let _errorsPerMinute  =_.groupBy(errors, o => {
            return (new Date(o.timestamp)).getMinutes()
          })
          for (let minute of Object.keys(_errorsPerMinute)) {
            let timestamp = String(new Date(_errorsPerMinute[minute][0].timestamp))
            errorsPerMinute[timestamp] = _errorsPerMinute[minute].length
          }

          // we need to have same datas for timestamps if errors are 0
          for (let [timestamp, value] of Object.entries(successPerMinute)) {
            if (!errorsPerMinute[timestamp]) errorsPerMinute[timestamp] = 0
          }

          return [
            {name: 'Success', data: successPerMinute},
            {name: 'Errors', data: errorsPerMinute},
          ]
          console.log(successPerMinute)
          console.log(errorsPerMinute)
        }
      },
      mounted: function () {
        socket.off('api.stats').on('api.stats', (c) => {
          c.code = _.get(c, 'code', 200) // set default to 200
          c.data = !_.isNil(c.data) ? JSON.stringify(c.data) : 'n/a'
          c.remaining = !_.isNil(c.remaining) ? c.remaining : 'n/a'

          this.data.push(c)
        })
      },
      methods: {
        parseJSON(data) {
          try {
            return JSON.stringify(JSON.parse(data), null, 2)
          } catch (e) {
            return data
          }
        },
        moment: function (args) {
          return moment(args) // expose moment function
        }
      }
    })
  }
  apiStatsAppInit()
</script>