<div id="settingsSystemApp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-6">
        <span class="title text-default mb-2">
          {{ commons.translate('menu.settings') }}
          <small><i class="fas fa-angle-right"></i></small>
          {{ commons.translate('menu.core') }}
          <template v-if="selectedSystem">
            <small><i class="fas fa-angle-right"></i></small>
            {{ commons.translate('menu.' + selectedSystem) }}
          </template>
        </span>

        <template v-if="state.loading === 1">
          <div class="alert alert-info text-center"><i class="fas fa-circle-notch fa-spin"></i> loading settings from server ...</div>
        </template>
        <template v-for="(value, category) of settings" v-if="category !== '_permissions' && state.loading === 0 && !_.isEmpty(value)">
          <h6>{{ category }}</h6>
          <div class="card mb-2" >
            <div class="card-body">
              <div v-if="typeof value === 'object'" class="p-0 pl-2 pr-2 " v-for="(currentValue, defaultValue) of value">
                <command-input-with-permission
                  v-if="category === 'commands'"
                  class="pt-1 pb-1"
                  v-bind:type="typeof currentValue"
                  v-bind:value="currentValue"
                  v-bind:command="defaultValue"
                  :permissions="settings._permissions[defaultValue]"
                  v-on:update="value[defaultValue] = $event.value; settings._permissions[defaultValue] = $event.permissions; triggerDataChange()"
                ></command-input-with-permission>
                <toggle
                  class="pt-1 pb-1"
                  v-bind:title="commons.translate('systems.' + selectedSystem + '.settings.' + defaultValue)"
                  v-else-if="typeof currentValue === 'boolean'"
                  v-bind:value="currentValue"
                  v-on:update="value[defaultValue] = !value[defaultValue]; triggerDataChange()"
                ></toggle>
                <textarea-from-array
                  class="pt-1 pb-1"
                  v-else-if="currentValue.constructor === Array"
                  v-bind:value="currentValue"
                  v-bind:title="commons.translate('systems.' + selectedSystem + '.settings.' + defaultValue)"
                  v-on:update="value[defaultValue] = $event; triggerDataChange()"
                ></textarea-from-array>
                <text-input
                  v-else
                  class="pt-1 pb-1"
                  v-bind:type="typeof currentValue"
                  v-bind:value="currentValue"
                  v-bind:title="'systems.' + selectedSystem + '.settings.' + defaultValue"
                  :permission="settings._permissions[defaultValue]"
                  v-on:update="value[defaultValue] = $event.value; triggerDataChange()"
                ></text-input>
              </div>
            </div>
          </div>
        </template>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="sticky-top" style="top: 80px">
          <div class="widget pt-1 mt-3 border-0 bg-light" style="height: auto">

            <div class="pl-2 pr-2 pb-4">
              <div v-if="isDataChanged" class="btn btn-block alert-warning" style="cursor: initial">
                <i class="fas fa-exclamation-circle mr-1"></i>
                {{commons.translate('dialog.changesPending')}}
              </div>
              <button class="btn btn-block btn-primary" v-on:click="saveSettings" v-if="state.settings === 0">{{ commons.translate('dialog.buttons.saveChanges.idle') }}</button>
              <button disabled="disabled" class="btn btn-block btn-primary" v-on:click="saveSettings" v-if="state.settings === 1">
                <i class="fas fa-circle-notch fa-spin"></i> {{ commons.translate('dialog.buttons.saveChanges.progress') }}</button>
              <button disabled="disabled" class="btn btn-block btn-success" v-on:click="saveSettings" v-if="state.settings === 2">
                <i class="fas fa-check"></i> {{ commons.translate('dialog.buttons.saveChanges.done') }}</button>
            </div>

            <div class="pl-2 pr-2" v-for="system of listOfSystems">
              <button
                class="btn btn-block text-left btn-outline-dark"
                :style="getBorderStyle(system.name)"
                v-on:click="setSystem(system.name)"
              >
                {{ commons.translate('menu.' + system.name) }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.prototype.commons = commons

  function settingsSystemAppInit () {
    if (_.size(translations) === 0) return setTimeout(() => settingsSystemAppInit(), 1)

    var settingsSystemApp = new Vue({
      el: '#settingsSystemApp',
      components: {
        'toggle': toggleEnable,
        'text-input': textInput,
        'command-input-with-permission': commandInputWithPermissions,
        'textarea-from-array': textAreaFromArray
      },
      data: {
        socket: { _panel: io({ query: "token=" + token }) },
        listOfSystems: [],
        selectedSystem: null,
        settings: { settings: {} },
        isDataChanged: false,

        state: {
          loading: 0,
          settings: 0
        }
      },
      watch: {
        selectedSystem: function (valueNew, valueOld) {
          this.loadSystemSettings(valueNew)
        }
      },
      computed: {
      },
      created: function () {
        this.socket._panel.emit('core', (err, systems) => {
          for (let system of systems) {
            this.socket[system.name] = io(`/core/${system.name}`, { query: "token=" + token })
          }
          this.listOfSystems = systems
          this.selectedSystem = systems[0].name
        })
      },
      filters: {
      },
      methods: {
        loadSystemSettings: function (system) {
          this.settings = { settings: {} }
          this.state.settings = 0
          this.state.loading = 1
          this.socket[system].emit('settings', (err, settings) => {
            if (system !== this.selectedSystem) return // skip if we quickly changed system

            this.state.loading = 0
            let _settings = _(settings).toPairs().value()

            // sorting
            this.settings.settings = {}
            // everything else except commands and are string|number|bool
            for (let [name, value] of _(_settings.filter(o => o[0] !== '_' && o[0] !== 'commands' && o[0] !== 'enabled' && typeof o[1] !== 'object')).value()) {
              this.settings.settings[name] = value
            }
            // everything else except commands and are objects -> own category
            for (let [name, value] of _(_settings.filter(o => o[0] !== '_' && o[0] !== 'commands' && o[0] !== 'enabled' && typeof o[1] === 'object')).value()) {
              this.settings[name] = value
            }
            // commands at last
            for (let [name, value] of _(_settings.filter(o => o[0] === 'commands')).value()) {
              this.settings[name] = value
            }
            this.isDataChanged = false
          })
        },
        getBorderStyle: function (system) {
          return system === this.selectedSystem ?
            {
              'border-width': '0px',
              'border-left-width': '5px !important'
            } :
            {
              'border-width': '0px',
              'border-left-width': '5px !important',
              'border-color': 'transparent'
            }
        },
        triggerDataChange: function () {
          this.isDataChanged = false; this.isDataChanged = true
        },
        setSystem: function (system) {
          if (this.state.settings === 0) this.selectedSystem = system
        },
        saveSettings: function () {
          this.state.settings = 1
          let settings = _.cloneDeep(this.settings)
          for (let [name,value] of Object.entries(settings.settings)) {
            delete settings.settings[name]
            settings[name] = value
          }
          delete settings.settings

          this.socket[this.selectedSystem].emit('settings.update', settings, (err) => {
            this.state.settings = 2
            this.isDataChanged = false
            setTimeout(() => this.state.settings = 0, 1000)
            setTimeout(() => {
              this.socket._panel.emit('core', (err, systems) => {
                this.listOfSystems = systems
              })
            })
          })
        }
      }
    })
  }
  settingsSystemAppInit()
</script>
