<div id="settingsGamesApp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-6">
        <span class="title text-default mb-2">
          {{ commons.translate('menu.settings') }}
          <small><i class="fas fa-angle-right"></i></small>
          {{ commons.translate('menu.games') }}
          <small><i class="fas fa-angle-right"></i></small>
          <template v-if="selectedGames">
            <small><i class="fas fa-angle-right"></i></small>
            {{ commons.translate('menu.' + selectedGames) }}
          </template>
        </span>

        <template v-if="state.loading === 1">
          <div class="alert alert-info text-center"><i class="fas fa-circle-notch fa-spin"></i> loading settings from server ...</div>
        </template>
        <template v-for="(value, category) of settings" v-if="category !== '_permissions' && state.loading === 0 && !_.isEmpty(value)">
          <h6>{{ category }}</h6>
          <div class="card mb-2" >
            <div class="card-body">
              <div v-if="typeof value === 'object'" class="p-0 pl-2 pr-2 " v-for="(currentValue, defaultValue) of value">
                <template v-if="selectedGames === 'wheeloffortune' && category === 'options'">
                  <wheel-of-fortune-responses
                    :options="JSON.parse(currentValue)"
                    @update="value[defaultValue] = JSON.stringify($event)"
                   />
                </template>
                <template v-else-if="selectedGames === 'heist' && category === 'levels'">
                  <heist-levels
                    :levels="currentValue"
                    @update="value[defaultValue] = $event" />
                </template>
                <template v-else-if="selectedGames === 'heist' && category === 'results' && defaultValue === 'data'">
                  <heist-results
                    :results="currentValue"
                    @update="value[defaultValue] = $event" />
                </template>
                <template v-else>
                    <command-input-with-permission
                    v-if="category === 'commands'"
                    class="pt-1 pb-1"
                    v-bind:type="typeof currentValue"
                    v-bind:value="currentValue"
                    v-bind:command="defaultValue"
                    :permissions="settings._permissions[defaultValue]"
                    v-on:update="value[defaultValue] = $event.value; settings._permissions[defaultValue] = $event.permissions; triggerDataChange()"
                  ></command-input-with-permission>
                  <toggle
                    class="pt-1 pb-1"
                    v-bind:title="commons.translate('games.' + selectedGames + '.settings.' + defaultValue)"
                    v-else-if="typeof currentValue === 'boolean'"
                    v-bind:value="currentValue"
                    v-on:update="value[defaultValue] = !value[defaultValue]; triggerDataChange()"
                  ></toggle>
                  <textarea-from-array
                    class="pt-1 pb-1"
                    v-else-if="currentValue.constructor === Array"
                    v-bind:value="currentValue"
                    v-bind:title="commons.translate('games.' + selectedGames + '.settings.' + defaultValue)"
                    v-on:update="value[defaultValue] = $event; triggerDataChange()"
                  ></textarea-from-array>
                  <text-input
                    v-else
                    class="pt-1 pb-1"
                    v-bind:type="typeof currentValue"
                    v-bind:value="currentValue"
                    v-bind:title="'games.' + selectedGames + '.settings.' + defaultValue"
                    :permission="settings._permissions[defaultValue]"
                    v-on:update="value[defaultValue] = $event.value; triggerDataChange()"
                  ></text-input>
                </template>
              </div>
            </div>
          </div>
        </template>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="sticky-top" style="top: 80px">
          <div class="widget pt-1 mt-3 border-0 bg-light" style="height: auto">

          <div class="pl-2 pr-2 pb-4">
              <div v-if="isDataChanged" class="btn btn-block alert-warning" style="cursor: initial">
                <i class="fas fa-exclamation-circle mr-1"></i>
                {{commons.translate('dialog.changesPending')}}
              </div>
              <button class="btn btn-block btn-primary" v-on:click="saveSettings" v-if="state.settings === 0">{{ commons.translate('dialog.buttons.saveChanges.idle') }}</button>
              <button disabled="disabled" class="btn btn-block btn-primary" v-on:click="saveSettings" v-if="state.settings === 1">
                <i class="fas fa-circle-notch fa-spin"></i> {{ commons.translate('dialog.buttons.saveChanges.progress') }}</button>
              <button disabled="disabled" class="btn btn-block btn-success" v-on:click="saveSettings" v-if="state.settings === 2">
                <i class="fas fa-check"></i> {{ commons.translate('dialog.buttons.saveChanges.done') }}</button>
            </div>

            <div class="pl-2 pr-2" v-for="system of listOfGames">
              <button
                class="btn btn-block text-left btn-outline-dark"
                :style="getBorderStyle(system.name)"
                v-on:click="setGames(system.name)"
              >
                {{ commons.translate('menu.' + system.name) }}

                <small
                  :class="[ system.enabled && !system.isDisabledByEnv && system.areDependenciesEnabled ? 'text-success' : 'text-danger' ]"
                  style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;"
                >
                  <template v-if="system.isDisabledByEnv">DISABLED BY ENV</template>
                  <template v-if="!system.enabled">{{ commons.translate('disabled') }}</template>
                  <template v-else-if="!system.areDependenciesEnabled">DEPENDENCIES DISABLED</template>
                  <template v-else>{{ commons.translate('enabled') }}</template>
                </small>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.prototype.commons = commons

  function settingsGamesAppInit () {
    if (_.size(translations) === 0) return setTimeout(() => settingsGamesAppInit(), 1)

    var settingsGamesApp = new Vue({
      el: '#settingsGamesApp',
      components: {
        'toggle': toggleEnable,
        'text-input': textInput,
        'command-input-with-permission': commandInputWithPermissions,
        'textarea-from-array': textAreaFromArray,
        'wheel-of-fortune-responses': wofResponses,
        'heist-levels': heistLevels,
        'heist-results': heistResults
      },
      data: {
        socket: { _panel: io({ query: "token=" + token }) },
        listOfGames: [],
        selectedGames: null,
        settings: { settings: {} },
        isDataChanged: false,

        state: {
          loading: 0,
          settings: 0
        }
      },
      watch: {
        selectedGames: function (valueNew, valueOld) {
          this.loadGamesSettings(valueNew)
        }
      },
      computed: {
      },
      created: function () {
        this.socket._panel.emit('games', (err, games) => {
          for (let system of games) {
            this.socket[system.name] = io(`/games/${system.name}`, { query: "token=" + token })
          }
          this.listOfGames = games
          this.selectedGames = games[0].name
        })
      },
      filters: {
      },
      methods: {
        loadGamesSettings: function (system) {
          this.settings = { settings: {} }
          this.state.settings = 0
          this.state.loading = 1
          this.socket[system].emit('settings', (err, settings) => {
            if (system !== this.selectedGames) return
            this.state.loading = 0
            let _settings = _(settings).toPairs().value()

            // sorting
            // enabled is first
            this.settings.settings = {}
            this.settings.settings.enabled = _(_settings.filter(o => o[0] === 'enabled')).flatten().value()[1]
            // everything else except commands and enabled and are string|number|bool
            for (let [name, value] of _(_settings.filter(o => o[0] !== '_' && o[0] !== 'enabled' && o[0] !== 'commands' && typeof o[1] !== 'object')).value()) {
              this.settings.settings[name] = value
            }
            // everything else except commands and enabled and are objects -> own category
            for (let [name, value] of _(_settings.filter(o => o[0] !== '_' && o[0] !== 'enabled' && o[0] !== 'commands' && typeof o[1] === 'object')).value()) {
              this.settings[name] = value
            }
            // commands at last
            for (let [name, value] of _(_settings.filter(o => o[0] === 'commands')).value()) {
              this.settings[name] = value
            }
            this.isDataChanged = false
          })
        },
        getBorderStyle: function (system) {
          return system === this.selectedGames ?
            {
              'border-width': '0px',
              'border-left-width': '5px !important'
            } :
            {
              'border-width': '0px',
              'border-left-width': '5px !important',
              'border-color': 'transparent'
            }
        },
        triggerDataChange: function () {
          this.isDataChanged = false; this.isDataChanged = true
        },
        setGames: function (system) {
          if (this.state.settings === 0) this.selectedGames = system
        },
        saveSettings: function () {
          this.state.settings = 1
          let settings = _.cloneDeep(this.settings)
          for (let [name,value] of Object.entries(settings.settings)) {
            delete settings.settings[name]
            settings[name] = value
          }
          delete settings.settings

          this.socket[this.selectedGames].emit('settings.update', settings, (err) => {
            this.state.settings = 2
            this.isDataChanged = false
            setTimeout(() => this.state.settings = 0, 1000)
            setTimeout(() => {
              this.socket._panel.emit('games', (err, games) => {
                this.listOfGames = games
              })
            })
          })
        }
      }
    })
  }
  settingsGamesAppInit()
</script>
