<div id="settingsOverlaysApp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-6">
        <span class="title text-default mb-2">
          {{ commons.translate('menu.settings') }}
          <small><i class="fas fa-angle-right"></i></small>
          {{ commons.translate('menu.overlays') }}
          <template v-if="selected">
            <small><i class="fas fa-angle-right"></i></small>
            {{ commons.translate('menu.' + selected) }}
          </template>
        </span>
        <template v-if="state.loading === 1">
          <div class="alert alert-info text-center"><i class="fas fa-circle-notch fa-spin"></i> loading settings from server ...</div>
        </template>
        <template v-for="(value, category) of settings" v-if="category !== '_permissions' && state.loading === 0 && !_.isEmpty(value)">
          <h6>{{ category }}</h6>
          <div class="card mb-2" >
            <div class="card-body">
              <div v-if="typeof value === 'object' && (typeof value[defaultValue] === 'undefined' || value[defaultValue] === null)" class="p-0 pl-2 pr-2 " v-for="(currentValue, defaultValue) of ui[category]">
                <template v-if="ui[category][defaultValue].type === 'link'">
                  <a :href="currentValue.href" class="mt-1 mb-1" :class="currentValue.class" :target="currentValue.target">
                    <template v-if="currentValue.rawText">{{ currentValue.rawText }}</template>
                    <template v-else>{{ commons.translate(currentValue.text) }}</template>
                  </a>
                </template>
                <template v-if="ui[category][defaultValue].type === 'test'">
                  <button @click="emoteTest(currentValue.test)" class="mt-1 mb-1" :class="currentValue.class" :target="currentValue.target">
                    <template v-if="currentValue.rawText">{{ currentValue.rawText }}</template>
                    <template v-else>{{ commons.translate(currentValue.text) }}</template>
                  </button>
                </template>
                <template v-if="ui[category][defaultValue].type === 'removecache'">
                  <button @click="removeCache()" class="mt-1 mb-1" :class="currentValue.class" :target="currentValue.target">
                    <template v-if="currentValue.rawText">{{ currentValue.rawText }}</template>
                    <template v-else>{{ commons.translate(currentValue.text) }}</template>
                  </button>
                </template>
              </div>
              <div v-if="typeof value === 'object' && !defaultValue.startsWith('_') && currentValue !== null" class="p-0 pl-2 pr-2 " v-for="(currentValue, defaultValue) of value">
                <template v-if="typeof ui[category] !== 'undefined' && typeof ui[category][defaultValue] !== 'undefined'">
                  <component
                    :is="ui[category][defaultValue].type"
                    :readonly="ui[category][defaultValue].readOnly"
                    :secret="ui[category][defaultValue].secret"
                    :step="ui[category][defaultValue].step"
                    :min="ui[category][defaultValue].min"
                    :max="ui[category][defaultValue].max"
                    :value="currentValue"
                    :values="ui[category][defaultValue].values"
                    @update="value[defaultValue] = $event.value; triggerDataChange()"
                    :title="'systems.' + selected + '.settings.' + defaultValue"
                    :current="value[ui[category][defaultValue].current]"
                    class="pt-1 pb-1"></component>
                </template>
                <template v-else>
                  <command-input-with-permission
                    v-if="category === 'commands'"
                    class="pt-1 pb-1"
                    v-bind:type="typeof currentValue"
                    v-bind:value="currentValue"
                    v-bind:command="defaultValue"
                    :permissions="settings._permissions[defaultValue]"
                    :token="token"
                    v-on:update="value[defaultValue] = $event.value; settings._permissions[defaultValue] = $event.permissions; triggerDataChange()"
                  ></command-input-with-permission>
                  <toggle
                    class="pt-1 pb-1"
                    v-bind:title="commons.translate('systems.' + selected + '.settings.' + defaultValue)"
                    v-else-if="typeof currentValue === 'boolean'"
                    v-bind:value="currentValue"
                    v-on:update="value[defaultValue] = !value[defaultValue]; triggerDataChange()"
                  ></toggle>
                  <textarea-from-array
                    class="pt-1 pb-1"
                    v-else-if="currentValue.constructor === Array"
                    v-bind:value="currentValue"
                    v-bind:title="commons.translate('systems.' + selected + '.settings.' + defaultValue)"
                    v-on:update="value[defaultValue] = $event; triggerDataChange()"
                  ></textarea-from-array>
                  <number-input
                    v-else-if="typeof currentValue === 'number'"
                    class="pt-1 pb-1"
                    v-bind:type="typeof currentValue"
                    v-bind:value="currentValue"
                    v-bind:title="'systems.' + selected + '.settings.' + defaultValue"
                    v-on:update="value[defaultValue] = $event.value; triggerDataChange()">
                  </number-input>
                  <text-input
                    v-else
                    class="pt-1 pb-1"
                    v-bind:type="typeof currentValue"
                    v-bind:value="currentValue"
                    v-bind:title="'systems.' + selected + '.settings.' + defaultValue"
                    v-on:update="value[defaultValue] = $event.value; triggerDataChange()"
                  ></text-input>
                </template>
              </div>
            </div>
          </div>
        </template>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="sticky-top" style="top: 185px; z-index:0">
          <div class="widget pt-1 mt-3 border-0 bg-light" style="height: auto">

          <div class="pl-2 pr-2 pb-4">
            <transition name="fade">
              <div v-show="isDataChanged" class="alert alert-warning" style="cursor: initial">
                <i class="fas fa-exclamation-circle mr-1"></i>
                {{commons.translate('dialog.changesPending')}}
              </div>
            </transition>
            <transition name="fade">
              <div class="alert alert-danger" v-show="error && showError" style="cursor: initial">
                <i class="fas fa-exclamation-triangle mr-1"></i>
                {{ error }}
              </div>
            </transition>
            <button class="btn btn-block btn-primary" v-on:click="saveSettings" v-if="state.settings === 0">{{ commons.translate('dialog.buttons.saveChanges.idle') }}</button>
            <button disabled="disabled" class="btn btn-block btn-primary" v-on:click="saveSettings" v-if="state.settings === 1">
              <i class="fas fa-circle-notch fa-spin"></i> {{ commons.translate('dialog.buttons.saveChanges.progress') }}</button>
            <button disabled="disabled" class="btn btn-block btn-success" v-on:click="saveSettings" v-if="state.settings === 2">
              <i class="fas fa-check"></i> {{ commons.translate('dialog.buttons.saveChanges.done') }}</button>
            <button disabled="disabled" class="btn btn-block btn-danger" v-on:click="saveSettings" v-if="state.settings === 3">
              <i class="fas fa-check"></i> {{ commons.translate('dialog.buttons.something-went-wrong') }}</button>
          </div>

            <div class="pl-2 pr-2" v-for="system of list">
              <button
                class="btn btn-block text-left btn-outline-dark"
                :style="getBorderStyle(system.name)"
                v-on:click="setSelected(system.name)"
              >
                {{ commons.translate('menu.' + system.name) }}

                <small
                  :class="[ system.enabled && !system.isDisabledByEnv && system.areDependenciesEnabled ? 'text-success' : 'text-danger' ]"
                  style="margin: 0px 0px 3px; font-size: 11px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;"
                ></small>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.prototype.commons = commons

  var customTexts = {
    props: ['value'],
    data: function () {
      return {
        currentValues: this.value,
        options: [
          { value: 'bigHeader', text: 'Big Header' },
          { value: 'header', text: 'Header' },
          { value: 'text', text: 'Text' },
          { value: 'smallText', text: 'Small Text' },
          { value: 'separator', text: 'Separator' }
        ]
      }
    },
    methods: {
      onChange: function () {
        this.$emit('update', { value: this.currentValues })
      },
      moveUp: function (order) {
        const val = Object.assign({}, this.currentValues.find(o => o.order === order))
        const val2 = Object.assign({}, this.currentValues.find(o => o.order === order - 1))

        this.currentValues.find(o => o.order === order).order = val2.order
        this.currentValues.find(o => o.order === order - 1).order = val.order
        this.onChange()
      },
      moveDn: function (order) {
        const val = Object.assign({}, this.currentValues.find(o => o.order === order))
        const val2 = Object.assign({}, this.currentValues.find(o => o.order === order + 1))

        this.currentValues.find(o => o.order === order).order = val2.order
        this.currentValues.find(o => o.order === order + 1).order = val.order
        this.onChange()
      },
      remove: function (order) {
        this.currentValues = this.currentValues.filter(o => o.order !== order)
      },
      reorder: function () {
        val = []
        for (let i = 0, length = this.currentValues.length; i < length; i++) {
          val[i] = this.currentValues[i]
          val[i].order = i
        }
        this.currentValues = val
        this.onChange()
      }
    },
    watch: {
      currentValues: function () { this.onChange() }
    },
    template: `
      <div>
        <div class="input-group pt-1 pb-1" v-for="(v, index) of _.orderBy(currentValues, 'order')">
          <div class="input-group-prepend d-flex" style="flex: 0 1 auto; flex-direction: column;">
            <button class="btn btn-block btn-secondary m-0 h-100" type="button" v-if="index !== 0" @click="moveUp(index)">
              <i class="fas fa-sort-up"></i>
            </button>
            <button class="btn btn-block btn-secondary m-0 h-100" type="button" v-if="index != currentValues.length - 1"  @click="moveDn(index)">
              <i class="fas fa-sort-down"></i>
            </button>
          </div>
          <select v-model="v.type" class="form-control" style="height: auto !important;">
            <option v-for="o of options" :value="o.value">{{o.text}}</option>
          </select>
          <textarea class="form-control" v-model="v.left" style="resize: none;" :readonly="['separator', 'bigHeader'].includes(v.type)"></textarea>
          <textarea class="form-control" v-model="v.middle" style="resize: none;" :readonly="['separator'].includes(v.type)"></textarea>
          <textarea class="form-control" v-model="v.right" style="resize: none;" :readonly="['separator', 'bigHeader'].includes(v.type)"></textarea>
          <div class="input-group-append">
            <button class="btn btn-danger" type="button" @click="remove(index); reorder()">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <button class="btn btn-success btn-block" @click="currentValues.push({ order: currentValues.length, type: 'bigHeader', text: { left: '', middle: '', right: '' } })">
          <i class="fas fa-plus"></i>
        </button>
      </div>`
  }

var social = {
  props: ['value'],
  data: function () {
    return {
      currentValues: this.value,
      socials: [
        { value: 'deviantart', text: 'DeviantArt' },
        { value: 'discord', text: 'Discord' },
        { value: 'facebook', text: 'Facebook' },
        { value: 'github', text: 'GitHub' },
        { value: 'google', text: 'Google' },
        { value: 'instagram', text: 'Instagram' },
        { value: 'linkedin', text: 'LinkedIn' },
        { value: 'paypal', text: 'PayPal' },
        { value: 'pinterest', text: 'Pinterest' },
        { value: 'playstation', text: 'Playstation' },
        { value: 'reddit', text: 'Reddit' },
        { value: 'skype', text: 'Skype' },
        { value: 'snapchat', text: 'Snapchat' },
        { value: 'spotify', text: 'Spotify' },
        { value: 'steam', text: 'Steam' },
        { value: 'strava', text: 'Strava' },
        { value: 'telegram', text: 'Telegram' },
        { value: 'twitter', text: 'Twitter' },
        { value: 'vk', text: 'VK' },
        { value: 'windows', text: 'Windows' },
        { value: 'xbox', text: 'XBox' },
        { value: 'youtube', text: 'YouTube' }
      ]
    }
  },
  methods: {
    onChange: function () {
      this.$emit('update', { value: this.currentValues })
    },
    remove: function (order) {
      this.currentValues = this.currentValues.filter(o => o.order !== order)
    },
    reorder: function () {
      val = []
      for (let i = 0, length = this.currentValues.length; i < length; i++) {
        val[i] = this.currentValues[i]
        val[i].order = i
      }
      this.currentValues = val
      this.onChange()
    }
  },
  watch: {
    currentValues: function () { this.onChange() }
  },
  template: `
    <div>
      <div class="input-group pt-1 pb-1" v-for="(v, index) of _.orderBy(currentValues, 'order')">
        <select v-model="v.type" class="form-control" style="height: auto !important;">
          <option v-for="o of socials" :value="o.value">{{o.text}}</option>
        </select>
        <textarea class="form-control" v-model="v.text" style="resize: none;"></textarea>
        <div class="input-group-append">
          <button class="btn btn-danger" type="button" @click="remove(index); reorder()">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </div>
      <button class="btn btn-success btn-block" @click="currentValues.push({ order: currentValues.length, type: 'facebook', text: '' })">
        <i class="fas fa-plus"></i>
      </button>
    </div>`
}

  function settingsOverlaysAppInit () {
    if (_.size(translations) === 0) return setTimeout(() => settingsOverlaysAppInit(), 1)

    var settingsOverlaysApp = new Vue({
      el: '#settingsOverlaysApp',
      components: {
        'toggle': toggleEnable,
        'text-input': textInput,
        'number-input': numberInput,
        'command-input-with-permission': commandInputWithPermissions,
        'textarea-from-array': textAreaFromArray,
        'selector': selector,
        'custom-texts': customTexts,
        'social': social
      },
      data: {
        socket: {
          _panel: io({ query: "token=" + token }),
          emotes: io('/overlays/emotes', {query: "token="+token})
        },
        list: [],
        selected: null,
        settings: {},
        ui: {},
        isDataChanged: false,
        error: null,
        showError: false,

        state: {
          loading: 0,
          settings: 0
        }
      },
      watch: {
        selected: function (valueNew, valueOld) {
          this.loadSettings(valueNew)
        }
      },
      computed: {
        systemURI: function () {
          const hash = window.location.hash.slice(1, window.location.hash.length)
          if (hash.split('-').length > 1) {
            let system = hash.split('-').splice(-1, 1).join()
            return system
          } return null
        }
      },
      created: function () {
        this.socket._panel.emit('overlays', (err, overlays) => {
          for (let system of overlays) {
            this.socket[system.name] = io(`/overlays/${system.name}`, { query: "token=" + token })
          }
          this.list = overlays
          this.selected = this.systemURI || overlays[0].name
        })
      },
      filters: {
      },
      methods: {
        emoteTest: function (test) {
          this.socket.emotes.emit('emote.test', test)
        },
        removeCache: _.debounce(function (explosion) {
          this.socket.emotes.emit('remove.cache')
        }, 10000, {
          // fire first and omit other
          leading: true,
          trailing: false
        }),
        loadSettings: function (system) {
          this.settings = {}
          this.state.settings = 0
          this.state.loading = 1
          this.socket[system].emit('settings', (err, _setting, _ui) => {
            if (system !== this.selected) return // skip if we quickly changed system

            this.state.loading = 0
            _settings = _(_setting).toPairs().value()
            _ui = _(_ui).toPairs().value()

            let settings = { settings: {} }
            let ui = { settings: {} }

            // sorting
            // everything else except commands and enabled and are string|number|bool
            for (let [name, value] of _(_settings.filter(o => o[0] !== '_' && o[0] !== 'enabled' && o[0] !== 'commands' && typeof o[1] !== 'object')).value()) {
              settings.settings[name] = value
            }
            // everything else except commands and enabled and are objects -> own category
            for (let [name, value] of _(_settings.filter(o => o[0] !== '_' && o[0] !== 'enabled' && o[0] !== 'commands' && typeof o[1] === 'object')).value()) {
              settings[name] = value
            }
            // commands at last
            for (let [name, value] of _(_settings.filter(o => o[0] === 'commands')).value()) {
              settings[name] = value
            }

            // ui
            // everything else except commands and enabled and are string|number|bool
            for (let [name, value] of _(_ui.filter(o => o[0] !== '_' && o[0] !== 'enabled' && o[0] !== 'commands' && typeof o[1].type !== 'undefined')).value()) {
              if (typeof settings.settings[name] === 'undefined') settings.settings[name] = null
              ui.settings[name] = value
            }
            // everything else except commands and enabled and are objects -> own category
            for (let [name, value] of _(_ui.filter(o => o[0] !== '_' && o[0] !== 'enabled' && o[0] !== 'commands' && typeof o[1].type === 'undefined')).value()) {
              if (typeof settings[name] === 'undefined') settings[name] = {}
              for (let [k, v] of Object.entries(value)) {
                if (typeof settings[name][k] === 'undefined') settings[name][k] = null
              }
              ui[name] = value
            }
            this.isDataChanged = false

            this.settings = Object.assign({}, settings)
            this.ui = Object.assign({}, ui)
          })
        },
        getBorderStyle: function (system) {
          return system === this.selected ?
            {
              'border-width': '0px',
              'border-left-width': '5px !important'
            } :
            {
              'border-width': '0px',
              'border-left-width': '5px !important',
              'border-color': 'transparent'
            }
        },
        triggerError: function (error) {
          this.error = error
          this.showError = true
          setTimeout(() => this.showError = false, 2000)
        },
        triggerDataChange: function () {
          this.isDataChanged = false; this.isDataChanged = true
        },
        setSelected: function (system) {
          window.location.hash = '#overlays-' + system
          if (this.state.settings === 0) this.selected = system
        },
        removeNulls: function (obj){
          var isArray = obj instanceof Array;
          for (var k in obj){
            if (obj[k]===null) isArray ? obj.splice(k,1) : delete obj[k];
            else if (typeof obj[k]=="object") this.removeNulls(obj[k]);
          }
        },
        saveSettings: function () {
          this.state.settings = 1
          let settings = _.cloneDeep(this.settings)
          this.removeNulls(settings)

          for (let [name,value] of Object.entries(settings.settings)) {
            delete settings.settings[name]
            settings[name] = value
          }
          delete settings.settings

          this.socket[this.selected].emit('settings.update', settings, (err) => {
            setTimeout(() => this.state.settings = 0, 1000)
            if (err) {
              this.state.settings = 3
            } else {
              this.state.settings = 2
              this.isDataChanged = false
            }
            setTimeout(() => {
              this.socket._panel.emit('overlays', (err, data) => {
                this.list = data
              })
            })
          })
        }
      }
    })
  }
  settingsOverlaysAppInit()
</script>
