<div id="systemQuotesApp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-6">
        <span data-lang="menu.quotes" class="title text-default"></span>
        <div class="widget" style="height: auto; overflow: auto">
          <div class="alert alert-danger mb-0 m-2" role="alert" v-if="quotes.length === 0">{{ commons.translate('systems.quotes.no-quotes-found') }}</div>
          <table class="table table-striped" v-if="quotes.length > 0">
            <thead>
              <tr>
                <th scope="col" class="p-3">#</th>
                <th scope="col" class="p-3">{{ commons.translate('systems.quotes.quote.name') }}</th>
                <th scope="col" class="p-3">{{ commons.translate('systems.quotes.by.name') }}</th>
                <th scope="col" class="p-3">{{ commons.translate('systems.quotes.tags.name') }}</th>
                <th scope="col" class="p-3">{{ commons.translate('systems.quotes.date.name') }}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <template v-for="quote of quotes">
                <tr>
                  <td class="border-0" style="font-size: 1.2rem;">{{ quote.id }}</td>
                  <td class="border-0" >
                    <textarea-with-tags
                      v-bind:value="quote.quote"
                      v-bind:qid="quote.id"
                      v-on:update="quote.quote = $event; changed.push(quote.id)"></textarea-with-tags>
                  </td>
                  <td class="border-0" >{{ quote.quotedBy }}</td>
                  <td class="border-0">
                    <div v-for="tag of quote.tags"
                      class="bg-dark p-2 m-1 text-light" style="display: inline-block;">{{ tag }}</div>
                  </td>
                  <td class="border-0" >{{ new Date(quote.createdAt).toLocaleString() }}</td>
                  <td class="border-0 text-right">
                    <a v-bind:href="'?id='+ quote._id + '#quotes/edit'"  class="btn btn-outline-dark border-0"><i class="fas fa-edit"></i></a>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="sticky-top" style="top: 60px">
          <span class="title text-default">{{ commons.translate('settings') }}</span>
          <div class="widget pt-1" style="height: auto">
            <div class="p-1 pl-2 pr-2" v-for="setting of settings">
              <toggle
                v-if="setting.type === 'bool'"
                v-bind:value="setting.value"
                v-on:update="setting.value = $event; isDataChanged = true"></toggle>
              <command-input
                v-if="setting.type === 'command'"
                v-bind:value="setting.value"
                v-bind:command="setting.command"
                v-on:update="setting.value = $event; isDataChanged = true"></command-input>

              <div class="input-group" v-if="setting.type ==='array'">
                <div class="input-group-prepend">
                  <span class="input-group-text">List URL</span>
                </div>
                <select
                  v-model="selectedURLBase"
                  class="form-control">
                  <option v-for="item of setting.list" v-bind:value="item">{{item}}</option>
                </select>
              </div>
            </div>
            <div class="p-2">
              <div v-if="isDataChanged" class="alert alert-danger">{{commons.translate('dialog.changesPending')}}</div>
              <button class="btn btn-block btn-primary" v-on:click="saveSettings" v-if="state.settings === 0">{{ commons.translate('dialog.buttons.saveChanges.idle') }}</button>
              <button disabled="disabled" class="btn btn-block btn-primary" v-on:click="saveSettings" v-if="state.settings === 1">
                <i class="fas fa-circle-notch fa-spin"></i> {{ commons.translate('dialog.buttons.saveChanges.progress') }}</button>
              <button disabled="disabled" class="btn btn-block btn-success" v-on:click="saveSettings" v-if="state.settings === 2">
                  <i class="fas fa-check"></i> {{ commons.translate('dialog.buttons.saveChanges.done') }}</button>
            </div>
          </div>

          <template v-if="quotes.length > 0">
            <span class="title text-default">{{ commons.translate('systems.quotes.tag-filter') }}</span>
            <div class="widget p-1" style="height: auto; line-height: 3rem; word-break: break-all;">
              <span v-for="tag of tags"
                    v-on:click="toggleTags(tag)"
                    v-bind:class="[ filteredTags.includes(tag) ? 'bg-success' : 'bg-dark' ]"
                    class="p-2 m-1 text-light"
                    style="cursor: pointer;">{{ tag }}</span>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.prototype.commons = commons

  if (typeof toggle === 'undefined') {
    var toggle = {
      props: ['value'],
      methods: {
        update: function () {
          this.$emit('update', !this.value)
        }
      },
      template: `
        <button
          class="btn btn-block"
          v-bind:class="{'btn-success': this.value, 'btn-danger': !this.value}"
          v-on:click="update()">
          <template v-if="this.value">{{ commons.translate('enabled') }}</template>
          <template v-else>{{ commons.translate('disabled') }}</template>
        </button>`
    }
  }

  if (typeof textAreaWithTags === 'undefined') {
    var textAreaWithTags = {
      props: ['value', 'qid'],
      computed: {
        valueWithHTML: function () {
          if (this.currentValue.trim().length === 0) {
            return `<span class="text-muted">${this.placeholder}</span>`
          } else {
            const filtersRegExp = new RegExp('\\$(' + _.sortBy(_.keys(translations.responses.variable), (o) => -o.length).join('|') + ')', 'g')
            let matches = this.currentValue.match(filtersRegExp)
            let output = this.currentValue
            if (!_.isNil(matches)) {
              for (let match of matches) {
                output = output.replace(match,
                  `<span contenteditable="false" class="editable-variable">
                    ${commons.translate('responses.variable.' + match.replace('$', ''))}
                  </span>&nbsp;`)
              }
            }
            return output
          }
        }
      },
      data: function () {
        return {
          currentValue: this.value,
          height: 0,
          editation: false
        }
      },
      methods: {
        onEnter(e) {
          // don't add newline
          e.stopPropagation()
          e.preventDefault()
          e.returnValue = false
          this.input = e.target.value
        }
      },
      template: `
        <div style="flex: 1 1 auto;">
          <div ref="div"
              v-html="valueWithHTML">
          </div>
        </div>
        `
    }
  }

  if (typeof commandInput === 'undefined') {
    var commandInput = {
      props: ['value', 'command'],
      methods: {
        update: function () {
          this.$emit('update', this.currentValue)
        }
      },
      data: function () {
        return {
          currentValue: this.value
        }
      },
      template: `
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ command }}</span>
          </div>
          <input v-on:keyup="update" v-model="currentValue" class="form-control" type="text" />
        </div>`
    }
  }

  function quotesInit () {
    if (_.size(translations) === 0) return setTimeout(() => quotesInit(), 1)
    var systemQuotesApp = new Vue({
      el: '#systemQuotesApp',
      components: {
        'toggle': toggle,
        'command-input': commandInput,
        'textarea-with-tags': textAreaWithTags
      },
      data: {
        quotesFromDb: [],
        settings: [],
        filteredTags: [],
        changed: [],
        isDataChanged: false,
        selectedURLBase: null,

        state: {
          settings: 0
        },
        socket: io('/system/quotes', { query: "token=" + token }),
      },
      watch: {
        selectedURLBase: function (val, old) {
          _.find(this.settings, (o) => o.key === 'urlBase').value = val
        }
      },
      computed: {
        quotes: function () {
          if (this.filteredTags.length === 0) return this.quotesFromDb
          else {
            let quotes = []
            for (let quote of this.quotesFromDb) {
              for (let tag of quote.tags) {
                if (this.filteredTags.includes(tag)) {
                  quotes.push(quote)
                  break
                }
              }
            }
            return quotes
          }
        },
        tags: function () {
          let tags = []
          for (let quote of this.quotesFromDb) tags.push(quote.tags)
          return _(tags).flatten().uniq().orderBy().value()
        }
      },
      methods: {
        updateQuote: function(id) {
          this.changed = _.xor(this.changed, [id])
          let quote = _.find(this.quotesFromDb, (o) => o.id === id)
        },
        toggleTags: function (tag) {
          this.filteredTags = _.xor(this.filteredTags, [tag])
        },
        deleteQuote: function (id) {
          this.quotesFromDb = this.quotes.filter((o) => o.id !== id)
          this.socket.emit('quote.delete', id)
        },
        saveSettings: function () {
          this.state.settings = 1
          this.socket.emit('settings.update', this.settings, (err) => {
            this.state.settings = 2
            this.isDataChanged = false
            setTimeout(() => this.state.settings = 0, 1000)
          })
        }
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        }
      }
    })

    systemQuotesApp.socket.emit('list', (err, items) => {
      systemQuotesApp.quotesFromDb = items
    })

    systemQuotesApp.socket.emit('settings', (err, items) => {
      systemQuotesApp.settings = items
      systemQuotesApp.selectedURLBase = (_.find(items, (o) => o.key === 'urlBase')).value
    })
  }
  quotesInit()
</script>
