<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#f4f5f6">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f4f5f6">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/dist/css/light.css" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins|PT+Sans|PT+Sans+Narrow|PT+Mono" rel="stylesheet">

    <script type="text/javascript" src="/auth/token.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body class="p-4">
    <div id="quotesApp" class="container-fluid">
      <span data-lang="menu.quotes" class="title text-default mb-4" style="font-size: 40px !important">Quotes</span>
      <div class="widget">
        <div class="alert alert-danger mb-0 m-2" role="alert" v-if="quotes.length === 0" data-lang="systems.quotes.no-quotes-found"></div>
        <table class="table table-striped" v-if="quotes.length > 0">
          <thead>
            <tr>
              <th scope="col" class="p-3">#</th>
              <th scope="col" class="p-3" data-lang="systems.quotes.quote.name"></th>
              <th scope="col" class="p-3" data-lang="systems.quotes.by.name"></th>
              <th scope="col" class="p-3" data-lang="systems.quotes.tags.name"></th>
              <th scope="col" class="p-3" data-lang="systems.quotes.date.name"></th>
            </tr>
          </thead>
          <tbody>
            <template v-for="quote of quotes">
              <tr>
                <td class="border-0" style="font-size: 1.2rem;">{{ quote.id }}</td>
                <td class="border-0" >{{ quote.quote }}</td>
                <td class="border-0" >{{ quote.quotedBy }}</td>
                <td class="border-0">
                  <div v-for="tag of quote.tags"
                    class="bg-dark p-2 m-1 text-light" style="display: inline-block;">{{ tag }}</div>
                </td>
                <td class="border-0" >{{ new Date(quote.createdAt).toLocaleString() }}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

    <script type="text/javascript" src="/dist/js/commons/commons.js"></script>
    <script src="/dist/jquery/js/jquery.min.js"></script>
    <script src="/dist/lodash/js/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      var translations = {}

      Vue.prototype.commons = commons
      var quotesApp = new Vue({
        el: "#quotesApp",
        data: {
          quotes: [],
          socket: io('/systems/quotes', { query: "token=" + token }),
        },
        created: function () {
          this.socket.emit('find', {}, (err, quotes) => {
            this.quotes = quotes
          })
        }
      })

      document.title = `${name.toUpperCase()} quotes` // from token.js

      // legacy configuration get
      var socket = io({ query: "token=" + token })
      socket.emit('getConfiguration')
      socket.on('configuration', function (data) {
        moment.locale(data.core.general.lang) // set moment locale
        // THEME
        if (data.core.ui.theme === 'dark') {
          $('head').append('<link rel="stylesheet" href="./dist/css/dark.css">')
        }
      })

      socket.on('lang', function (data) {
        translations = data
        let elements = $('[data-lang]')
        for (let el of elements) {
          let translation = _.get(translations, $(el).data('lang'), null)
          if(_.isNil(translation)) {
            $(el).html(`{${$(el).data('lang')}}`)
          } else {
            $(el).html(translation)
          }
        }
      })
    </script>


  </body>
</html>
