<div id="systemHighlightsApp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span data-lang="menu.highlights" class="title text-default"></span>

        <div class="pt-3 pb-3 mt-3 mb-3 m-0 border-top border-bottom row">
          <div class="col-sm-12 text-right form-inline d-block">
            <button class="btn btn-dark border-0"><i class="fas fa-th-list"></i></button>
            <i class="fas fa-search text-muted" style="position: relative; left: 2.2rem;"></i>
            <input type="search" class="form-control w-auto pl-5" v-model="search" placeholder="Search...">
          </div>
        </div>

        <div v-if="filtered.length > 0" class="card" v-for="(item, index) of filtered" v-bind:class="{ 'mt-3': index !== 0 }">
          <div class="card-body row p-0">
            <div class="col-sm-11 pr-0">
              <a class="btn btn-block btn-outline-dark border-0 h-100 text-left p-0" target="_blank" v-bind:href="'https://www.twitch.tv/videos/' + item.id + '?t=' + timestampToString(item.timestamp)">
                <img class="float-left pr-3" v-bind:src="generateThumbnail(item.game)">
                <div style="padding-top:0.8rem !important">
                  {{ item.title }}
                  <small class="d-block">
                    <i class="far fa-clock"></i> {{ timestampToString(item.timestamp) }}
                    <i class="pl-2 far fa-calendar-alt"></i> {{ new Date(item.created_at).toLocaleString() }}
                    <i class="pl-2 fas fa-gamepad"></i> {{ item.game }}
                  </small>
                </div>
              </a>
            </div>

            <div class="col-sm-1 pl-0">
              <button data-toggle="dropdown" class="btn btn-block btn-outline-dark border-0 h-100"><i class="fas fa-ellipsis-v"></i></button>
                <div class="dropdown-menu p-0">
                  <button class="dropdown-item p-2 pl-4 pr-4" style="cursor: pointer" v-on:click="deleteItem(item._id)"><i class="fas fa-trash-alt"></i> {{ commons.translate('delete') }}</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.prototype.commons = commons

  function highlightsInit () {
    if (_.size(translations) === 0) return setTimeout(() => highlightsInit(), 1)
    var systemHighlightsApp = new Vue({
      el: '#systemHighlightsApp',
      components: {
        'toggle': toggleEnable,
        'command-input': commandInput
      },
      data: {
        search: '',

        items: [],

        changed: [],
        isDataChanged: false,

        state: {
          settings: 0
        },
        socket: io('/systems/highlights', { query: "token=" + token }),
      },
      computed: {
        filtered: function () {
          let items = this.items
          if (this.search.length > 0) {
            items = this.items.filter((o) => {
              return !_.isNil(o.title.match(new RegExp(this.search, 'ig'))) || !_.isNil(o.game.match(new RegExp(this.search, 'ig')))
            })
          }
          return items.sort((a, b) => {
            return new Date(b.created_at || 0).getTime() - new Date(a.created_at || 0).getTime()
          })
        }
      },
      created: function () {
        this.socket.emit('list', (err, items) => {
          this.items = items
        })
        this.socket.emit('settings', (err, items) => {
          this.enabled = items.enabled
          this.commands = items.commands
        })
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        }
      },
      methods: {
        timestampToString: function (value) {
          const string = (value.hours ? `${value.hours}h` : '') +
            (value.minutes ? `${value.minutes}m` : '') +
            (value.seconds ? `${value.seconds}s` : '')
          return string
        },
        generateThumbnail: function (game) {
          const template = 'https://static-cdn.jtvnw.net/ttv-boxart/./%{game}-60x80.jpg'
          return template.replace('%{game}', encodeURI(game))
        },
        deleteItem: function (id) {
          this.socket.emit('delete', {_id: id}, () => {
            this.items = this.items.filter((o) => o._id !== id)
          })
        }
      }
    })
  }
  highlightsInit()
</script>
