
$enable-rounded: false;
$enable-gradients: false;
$enable-hover-media-query: true;

$white:    #000 !default;
$gray-900: #f8f9fa !default;
$gray-800: #e9ecef !default;
$gray-700: #dee2e6 !default;
$gray-600: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-400: #868e96 !default;
$gray-300: #495057 !default;
$gray-200: #343a40 !default;
$gray-100: #212529 !default;
$black:    #fff !default;

$body-bg: $white;
$body-color: $black;

$card-bg: #171a1d;
$info-bg: #171a1d;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:      #28a745 !default;
$lightgreen: greenyellow !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$bot-response-text-color: $red !default;
$bot-response-bg-color: $gray-200 !default;
$bot-response-border-color: $gray-400 !default;

$bot-version: $blue !default;

$hr: $gray-800 !default;

$theme-colors: (
  "primary": #fd7e14,
  "secondary": #606b77
);

$eventlist: (
  follow: rgb(255, 80, 80),
  host: rgb(255, 138, 43),
  raid: rgb(251, 255, 43),
  sub: rgb(104, 104, 255),
  subgift: rgb(239, 59, 255),
  subcommunitygift: rgb(255, 133, 214),
  resub: rgb(166, 41, 255),
  cheer: rgb(255, 200, 61),
  tip: rgb(100, 255, 53)
);

$status-connected:        darken($lightgreen, 50) !default;
$status-connected-bg:     $lightgreen !default;
$status-connected-border: $lightgreen !default;

$status-not-connected:        lighten($red, 50) !default;
$status-not-connected-bg:     $red !default;
$status-not-connected-border: $red !default;

$status-connecting:        darken(#fd7e14, 50) !default;
$status-connecting-bg:     #fd7e14 !default;
$status-connecting-border: #fd7e14 !default;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/bootstrap-vue/src/index.scss';
@import "../colors.scss";
@import "../custom.scss";

// Force text color on buttons to be more readable (yiq is somehow too dark)
.btn-primary {
  color: $black !important;
}

.btn-secondary {
  color: $black !important;
}

.btn-dark {
  color: black !important;
}

.btn-outline-dark:hover {
  color: black !important;
}

.btn-danger {
  color: $black !important;
}

.btn-success {
  color: $black !important;
}

.progress-bar {
  color: white !important;
}

.border-gray, .border-input {
  border-color: #868e96 !important
}

.form-control::placeholder, div.form-control span.text-muted { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lighten(#606b77, 20) !important;
  opacity: 1; /* Firefox */
}

.vs__selected, .vs__search {
  color: $gray-700 !important;
}

.vs__dropdown-menu {
  background-color: black !important;
  color: $gray-700 !important;
  border-color: #868e96 !important
}

.vs__dropdown-option {
  color: $gray-700 !important;
}

.vs__dropdown-option--highlight {
  background: $orange !important;
}

.vs__selected {
  color: black !important;
  border-color: $gray-600 !important;
  background-color: $gray-700 !important;
}