$enable-rounded: false;
$enable-gradients: false;
$enable-hover-media-query: true;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$card-bg: $white;
$info-bg: $white;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:      #28a745 !default;
$lightgreen: greenyellow !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$bot-response-text-color: $red !default;
$bot-response-bg-color: $gray-200 !default;
$bot-response-border-color: $gray-400 !default;

$bot-version: $blue !default;

$theme-colors: (
  "primary": #007bff,
  "secondary": #606b77
);

$hr: $gray-800 !default;

$eventlist: (
  follow: $red,
  host: $orange,
  raid: $yellow,
  sub: $blue,
  subgift: $green,
  subcommunitygift: rgb(255, 96, 123),
  resub: indigo,
  cheer: goldenrod,
  tip: darkgreen
);



$status-connected:        lighten($green, 50) !default;
$status-connected-bg:     $green !default;
$status-connected-border: $green !default;

$status-not-connected:        lighten($red, 50) !default;
$status-not-connected-bg:     $red !default;
$status-not-connected-border: $red !default;

$status-connecting:        darken($yellow, 50) !default;
$status-connecting-bg:     $yellow !default;
$status-connecting-border: $yellow !default;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import '../../node_modules/bootstrap-vue/src/index.scss';
@import "../colors.scss";
@import "../custom.scss";


.btn-outline-dark:hover {
  color: white !important;
}

.border-gray, .border-input {
  border-color: $gray-600 !important
}