<div id="systemQuotesApp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span data-lang="menu.quotes" class="title text-default"></span>
        <div class="text-right" style="float:right" v-if="quotes.length > 0">
          <strong>{{ commons.translate('systems.quotes.tag-filter') }}</strong>
          <span class="border-0 bg-light widget p-1" style="height: auto; line-height: 3rem; word-break: break-all;">
            <span v-for="tag of tags"
                  v-on:click="toggleTags(tag)"
                  v-bind:class="[ filteredTags.includes(tag) ? 'bg-success' : 'bg-dark' ]"
                  class="p-2 m-1 text-light"
                  style="cursor: pointer;">{{ tag }}</span>
          </span>
        </div>

        <div class="widget" style="height: auto; overflow: auto">
          <div class="alert alert-danger mb-0 m-2" role="alert" v-if="quotes.length === 0">{{ commons.translate('systems.quotes.no-quotes-found') }}</div>
          <table class="table table-striped" v-if="quotes.length > 0">
            <thead>
              <tr>
                <th scope="col" class="p-3">#</th>
                <th scope="col" class="p-3">{{ commons.translate('systems.quotes.quote.name') }}</th>
                <th scope="col" class="p-3">{{ commons.translate('systems.quotes.by.name') }}</th>
                <th scope="col" class="p-3">{{ commons.translate('systems.quotes.tags.name') }}</th>
                <th scope="col" class="p-3">{{ commons.translate('systems.quotes.date.name') }}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <template v-for="quote of quotes">
                <tr>
                  <td class="border-0" style="font-size: 1.2rem;">{{ quote.id }}</td>
                  <td class="border-0" >
                    <text-with-tags
                      v-bind:value="quote.quote"
                      v-bind:qid="quote.id"
                      v-on:update="quote.quote = $event; changed.push(quote.id)"></text-with-tags>
                  </td>
                  <td class="border-0" >{{ quote.quotedBy }}</td>
                  <td class="border-0">
                    <div v-for="tag of quote.tags"
                      class="bg-dark p-2 m-1 text-light" style="display: inline-block;">{{ tag }}</div>
                  </td>
                  <td class="border-0" >{{ new Date(quote.createdAt).toLocaleString() }}</td>
                  <td class="border-0 text-right">
                    <a v-bind:href="'?id='+ quote._id + '#quotes/edit'"  class="btn btn-outline-dark border-0"><i class="fas fa-edit"></i></a>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.prototype.commons = commons

  function quotesInit () {
    if (_.size(translations) === 0) return setTimeout(() => quotesInit(), 1)
    var systemQuotesApp = new Vue({
      el: '#systemQuotesApp',
      components: {
        'command-input': commandInput,
        'text-with-tags': textWithTags
      },
      data: {
        quotesFromDb: [],
        filteredTags: [],
        changed: [],
        isDataChanged: false,
        selectedURLBase: null,

        state: {
          settings: 0
        },
        socket: io('/systems/quotes', { query: "token=" + token }),
      },
      created: function () {
        this.socket.emit('find', {}, (err, items) => {
          this.quotesFromDb = items
        })
      },
      watch: {
        selectedURLBase: function (val, old) {
          _.find(this.settings, (o) => o.key === 'urlBase').value = val
        }
      },
      computed: {
        quotes: function () {
          if (this.filteredTags.length === 0) return this.quotesFromDb
          else {
            let quotes = []
            for (let quote of this.quotesFromDb) {
              for (let tag of quote.tags) {
                if (this.filteredTags.includes(tag)) {
                  quotes.push(quote)
                  break
                }
              }
            }
            return quotes
          }
        },
        tags: function () {
          let tags = []
          for (let quote of this.quotesFromDb) tags.push(quote.tags)
          return _(tags).flatten().uniq().orderBy().value()
        }
      },
      methods: {
        toggleTags: function (tag) {
          this.filteredTags = _.xor(this.filteredTags, [tag])
        },
        deleteQuote: function (id) {
          this.quotesFromDb = this.quotes.filter((o) => o.id !== id)
          this.socket.emit('delete', {_id: id})
        },
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        }
      }
    })
  }
  quotesInit()
</script>
